.video-section {
    position: relative;
    .video-wrapper {
        background-position: center;

        &.hero {
            height: calc(100vh - 102px);

            @media (max-width: 992px) {
                height: calc(100vh - 68.42px);
            }

            @media(max-height: 768px) and (max-width: 460px) {
                min-height: 700px;
            }
        }

        &.is-desktop {
            background: black !important;
        }

        &.is-mobile {
            video {
                display: none !important;
            }
        }
    }
    .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color-secondary, .3);
        height: 100%;
        width: 100%;
        z-index: 1; 

        @media(max-width: 860px) {
            h1 {
                font-size: 2em;
            }
            h3 {
                font-size: 1.25em;
            }
        }
    }

    video {
        opacity: 0 !important;
        transition: opacity .5s;
    
        &.can-play {
            opacity: 1 !important;
        }
    }
}