.video-section {
    position: relative;
    .video-wrapper {
        height: 85vh;
        background-position: center;
    }
    .hero-content {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color-secondary, .3);
        height: 100%;
        width: 100%;
        z-index: 1; 
    }

    video {
        opacity: 0 !important;
        transition: opacity .5s;
    
        &.can-play {
            opacity: 1 !important;
        }
    }
}