@model UpDiddy.ViewModels.ChangePasswordViewModel
@{
    Layout = "_SimpleLayout";
    ViewData["Title"] = "Update Password";
}

<div class="simple-container">
    <div class="row">
        <div class="col-md-12 simple-title">
            Choose a new password
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-5 mt-4">
            <form id="ChangePasswordForm" asp-controller="Session" asp-action="submitpassword" method="post">
                <input type="hidden" asp-for="PasswordResetRequestGuid" name="PasswordResetRequestGuid" value="@Model.PasswordResetRequestGuid" form="ChangePasswordForm" />
                <div id="ResetPasswordValidationSummary" asp-validation-summary="All" class="text-danger" style="display:none;"></div>
                <div class="form-group">
                    <input asp-for="Password" name="Password" type="password" class="form-control input-lg" placeholder="Password" data-val="true" asp-action="changepassword" required />
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control input-lg" placeholder="Confirm Password" data-val="true" asp-action="changepassword" required />
                </div>
                <div class="form-group">
                    <div id="ForgotPasswordAction" class="col-12 no-padding">
                        <div class="action-container">
                            <button type="submit" class="button-container cc-cscheme-darkred skew-left-to-right font-bold">Change Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <h2>Password requirements:</h2>
            <ul class="text-left">
                <li>Must be at least 8 but no more than 16 characters in length</li>
                <li>Must contain at least one special character in the following list: !@@#$%^&*</li>
                <li>Must contain one lower case alphabetic character (a-z)</li>
                <li>Must contain one upper case alphabetic character (A-Z)</li>
                <li>Must contain at least one number (0-9)</li>
                <li>Must not contain more than two consecutive characters (e.g. AAA)</li>
            </ul>
        </div>
    </div>
</div>