@model UpDiddy.ViewModels.ResetPasswordRequestViewModel
@{
    Layout = "_SimpleLayout";
    ViewData["Title"] = "Reset Password";
}

<div class="simple-container">
    <div class="row">
        <div class="col-md-12 simple-title">
            Reset your password
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-5 mt-4">
            <form id="ResetPasswordForm" asp-controller="Session" asp-action="resetpassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div id="ResetPasswordValidationSummary" asp-validation-summary="All" class="text-danger" style="display:none;"></div>
                <div class="form-group">
                    <input asp-for="EmailAddress" name="EmailAddress" class="form-control input-lg" placeholder="Email Address" data-val="true" required />
                </div>
                <div class="form-group">
                    <div id="ForgotPasswordAction" class="col-12 no-padding">
                        <div class="action-container">
                            <button type="submit" class="button-container cc-cscheme-darkred skew-left-to-right font-bold">Submit</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    Don't have an account? <a href="/session/signup" class="btn btn-primary">Sign up now</a>
                </div>
            </form>
            <div class="modal resetpassword-modal text-cc-secondary" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">You're almost done!</h5>
                        </div>
                        <div class="modal-body">
                            <p>Please check your email and click on the reset password link to continue.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>