@{
    Layout = "_SimpleLayout";
}

<div class="simple-container">
    <div class="row">
        <div class="col-md-12 simple-title">
            Signed out
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 simple-detail">
            You have successfully signed out. You will be automatically redirected to the home page in 3 seconds...
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            CareerCircleAPI.signOut();
        });
    </script>
}
<meta http-equiv="refresh" content="3;url=@Url.Action("Index", "Home")" />