<div class="signout-container">
    <div class="row signout-message-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="signout-hero">
                            <div class="signout-header">
                                Signed out
                            </div>
                            <div class="error-sub-header">
                                You have successfully signed out.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
