@{
    Layout = "_SimpleLayout";
}
<div class="error-container">
    <div class="row">
        <div class="col-md-12 error-title">
            Page not found
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 error-detail">
            The requested URL <span>@ViewBag.OriginalPath</span> was not found.
        </div>
    </div>
</div>