<div class="col-12 no-padding">
    <div class="edit-container">
        <div class="row">
            <div class="col-6 no-padding">
                <h5>Contact Info</h5>
            </div>
            <div class="col-6 no-padding container-align-right">
                <span class="edit-action" data-toggle="modal" data-target="#ContactInfoModal">Edit</span>
            </div>
        </div>
        <div class="options-container">
            @{
                if (!string.IsNullOrWhiteSpace(Model.FormattedPhone))
                {
                    <div>
                        <div class="row">
                            <div class="col-12 col-sm-3 option-header no-padding">
                                Phone
                            </div>
                            <div class="col-12 col-sm-9 option-value no-padding">
                                @Model.FormattedPhone
                            </div>
                        </div>
                    </div>
                }
            }
            @*We know this page cannot be accessed unless user has signed up with an email.
                Therefore, we don't need to check if it exists.*@
            <div>
                <div class="row">
                    <div class="col-12 col-sm-3 option-header no-padding">
                        Email
                    </div>
                    <div class="col-12 col-sm-9 option-value no-padding">
                        @Model.Email
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>