<img src="~/images/usmap.svg"/>
<div class="usmap">
   <div class="map-point "  id="MD" data-toggle="tooltip"  data-placement="bottom" title="Maryland Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="VA" data-toggle="tooltip"  data-placement="bottom" title="Virginia  Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NC" data-toggle="tooltip"  data-placement="bottom" title="North Carolina Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="SC" data-toggle="tooltip"  data-placement="bottom" title="South Carolina Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NJ" data-toggle="tooltip"  data-placement="bottom" title="New Jersey Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="GA" data-toggle="tooltip"  data-placement="bottom" title="Georgia Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="FL" data-toggle="tooltip"  data-placement="bottom" title="Florida Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AL" data-toggle="tooltip"  data-placement="bottom" title="Alabama Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MS" data-toggle="tooltip"  data-placement="bottom" title="Mississippi Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="LA" data-toggle="tooltip"  data-placement="bottom" title="Louisiana Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AR"data-toggle="tooltip"  data-placement="bottom" title="Arkansas Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="TN"data-toggle="tooltip"  data-placement="bottom" title="Tennessee Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MO" data-toggle="tooltip"  data-placement="bottom" title="Missouri Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="TX"data-toggle="tooltip"  data-placement="bottom" title="Texas Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OK"data-toggle="tooltip"  data-placement="bottom" title="Oklahoma Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="KS"data-toggle="tooltip"  data-placement="bottom" title="Kansas Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NE"data-toggle="tooltip"  data-placement="bottom" title="Nebraska Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="SD"data-toggle="tooltip"  data-placement="bottom" title="South Dakota Jobs">
      <div>
         <a class="map-point-count"></a>
      </div>                  
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ND"data-toggle="tooltip"  data-placement="bottom" title="North Dakota Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MN"data-toggle="tooltip"  data-placement="bottom" title="Minnesota Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IA"data-toggle="tooltip"  data-placement="bottom" title="Iowa Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IL"data-toggle="tooltip"  data-placement="bottom" title="Illinois Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WI"data-toggle="tooltip"  data-placement="bottom" title="Wisconsin Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OH" data-toggle="tooltip"  data-placement="bottom" title="Ohio Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IN"data-toggle="tooltip"  data-placement="bottom" title="Indiana Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="KY"data-toggle="tooltip"  data-placement="bottom" title="Kentucky Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WVA"data-toggle="tooltip"  data-placement="bottom" title="West Virginia Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="PA"data-toggle="tooltip"  data-placement="bottom" title="Pennsylvania Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="DE"data-toggle="tooltip"  data-placement="bottom" title="Delaware Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CT"data-toggle="tooltip"  data-placement="bottom" title="Connecticut Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="RI"data-toggle="tooltip"  data-placement="bottom" title="Rhode Island Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MA"data-toggle="tooltip"  data-placement="bottom" title="Massachusetts Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NH"data-toggle="tooltip"  data-placement="bottom" title="New Hampshire Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="VT"data-toggle="tooltip"  data-placement="bottom" title="Vermont Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ME"data-toggle="tooltip"  data-placement="bottom" title="Maine Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NM"data-toggle="tooltip"  data-placement="bottom" title="New Mexico Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NY"data-toggle="tooltip"  data-placement="bottom" title="New York Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CO"data-toggle="tooltip"  data-placement="bottom" title="Colorado Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WY"data-toggle="tooltip"  data-placement="bottom" title="Wyoming Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ID"data-toggle="tooltip"  data-placement="bottom" title="Idaho Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="UT"data-toggle="tooltip"  data-placement="bottom" title="Utah Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AZ"data-toggle="tooltip"  data-placement="bottom" title="Arizona Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NV"data-toggle="tooltip"  data-placement="bottom" title="Nevada Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OR"data-toggle="tooltip"  data-placement="bottom" title="Oregon Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WA"data-toggle="tooltip"  data-placement="bottom" title="Washington Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CA"data-toggle="tooltip"  data-placement="bottom" title="California Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MT"data-toggle="tooltip"  data-placement="bottom" title="Montana Jobs">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
</div>