<img src="~/images/usmap.svg"/>
<div class="usmap">
   <div class="map-point "  id="MD" data-toggle="tooltip"  data-placement="bottom" title="Maryland">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="VA" data-toggle="tooltip"  data-placement="bottom" title="Virginia">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NC" data-toggle="tooltip"  data-placement="bottom" title="North Carolina">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="SC" data-toggle="tooltip"  data-placement="bottom"title="South Carolina">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NJ" data-toggle="tooltip"  data-placement="bottom" title="New Jersey">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="GA" data-toggle="tooltip"  data-placement="bottom" title="Georgia">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="FL" data-toggle="tooltip"  data-placement="bottom" title="Florida">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AL" data-toggle="tooltip"  data-placement="bottom" title="Alabama">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MS" data-toggle="tooltip"  data-placement="bottom" title="Mississippi">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="LA" data-toggle="tooltip"  data-placement="bottom" title="Louisiana">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AR"data-toggle="tooltip"  data-placement="bottom" title="Arkansas">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="TN"data-toggle="tooltip"  data-placement="bottom" title="Tennessee">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MO" data-toggle="tooltip"  data-placement="bottom" title="Missouri">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="TX"data-toggle="tooltip"  data-placement="bottom" title="Texas">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OK"data-toggle="tooltip"  data-placement="bottom" title="Oklahoma">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="KS"data-toggle="tooltip"  data-placement="bottom" title="Kansas">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NE"data-toggle="tooltip"  data-placement="bottom" title="Nebraska">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="SD"data-toggle="tooltip"  data-placement="bottom" title="South Dakota">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ND"data-toggle="tooltip"  data-placement="bottom" title="North Dakota">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MN"data-toggle="tooltip"  data-placement="bottom" title="Minnesota">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IA"data-toggle="tooltip"  data-placement="bottom" title="Iowa">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IL"data-toggle="tooltip"  data-placement="bottom" title="Illinois">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WI"data-toggle="tooltip"  data-placement="bottom" title="Wisconsin">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OH" data-toggle="tooltip"  data-placement="bottom" title="Ohio">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IN"data-toggle="tooltip"  data-placement="bottom" title="Indiana">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="KY"data-toggle="tooltip"  data-placement="bottom" title="Kentucky">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WVA"data-toggle="tooltip"  data-placement="bottom" title="West Virginia">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="PA"data-toggle="tooltip"  data-placement="bottom" title="Pennsylvania">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="DE"data-toggle="tooltip"  data-placement="bottom" title="Delaware">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CT"data-toggle="tooltip"  data-placement="bottom" title="Connecticut">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="RI"data-toggle="tooltip"  data-placement="bottom" title="Rhode Island">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MA"data-toggle="tooltip"  data-placement="bottom" title="Massachusetts">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NH"data-toggle="tooltip"  data-placement="bottom" title="New Hampshire">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="VT"data-toggle="tooltip"  data-placement="bottom" title="Vermont">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ME"data-toggle="tooltip"  data-placement="bottom" title="Maine">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NM"data-toggle="tooltip"  data-placement="bottom" title="New Mexico">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NY"data-toggle="tooltip"  data-placement="bottom" title="New York">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CO"data-toggle="tooltip"  data-placement="bottom" title="Colorado">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WY"data-toggle="tooltip"  data-placement="bottom" title="Wyoming">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ID"data-toggle="tooltip"  data-placement="bottom" title="Idaho">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="UT"data-toggle="tooltip"  data-placement="bottom" title="Utah">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AZ"data-toggle="tooltip"  data-placement="bottom" title="Arizona">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NV"data-toggle="tooltip"  data-placement="bottom" title="Nevada">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OR"data-toggle="tooltip"  data-placement="bottom" title="Oregon">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WA"data-toggle="tooltip"  data-placement="bottom" title="Washington">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CA"data-toggle="tooltip"  data-placement="bottom" title="California">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MT"data-toggle="tooltip"  data-placement="bottom" title="Montana">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
</div>