<img src="~/images/usmap.svg"/>
<div class="usmap">
   <div class="map-point "  id="MD" name="Maryland">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="VA" name="Virginia ">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NC" name="North Carolina">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="SC" name="South Carolina">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NJ" name="New Jersey">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="GA" name="Georgia">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="FL" name="Florida">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AL" name="Alabama">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MS" name="Mississippi">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="LA" name="Louisiana">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AR" name="Arkansas">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="TN" name="Tennessee">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MO" name="Missouri">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="TX" name="Texas">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OK" name="Oklahoma">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="KS" name="Kansas">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NE" name="Nebraska">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="SD" name="South Dakota">
      <div>
         <a class="map-point-count"></a>
      </div>                  
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ND" name="North Dakota">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MN" name="Minnesota">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IA" name="Iowa">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IL" name="Illinois">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WI" name="Wisconsin">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OH" name="Ohio">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="IN" name="Indiana">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="KY" name="Kentucky">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WVA" name="West Virginia">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="PA" name="Pennsylvania">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="DE" name="Delaware">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CT" name="Connecticut">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="RI" name="Rhode Island">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MA" name="Massachusetts">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NH" name="New Hampshire">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="VT" name="Vermont">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ME" name="Maine">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NM" name="New Mexico">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NY" name="New York">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CO" name="Colorado">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WY" name="Wyoming">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="ID" name="Idaho">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="UT" name="Utah">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="AZ" name="Arizona">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="NV" name="Nevada">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="OR" name="Oregon">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="WA" name="Washington">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="CA" name="California">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
   <div class="map-point" id="MT" name="Montana">
      <div>
         <a class="map-point-count"></a>                  
      </div>
      <div class="d-flex justify-content-center">
         <i class="fas map-point-icon fa-map-pin fa-lg" ></i>
      </div>
   </div>
</div>