@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model AboutViewModel
@{
    string DomainName = Context.Request.Host.ToString();
    string SSLProtocol = Context.Request.Scheme.ToString();
    string ProtocolAndHost = SSLProtocol + "://" + DomainName;
}
<div class="about-us-container">
    <div class="row about-us-hero">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <h3>At CareerCircle, we are not just hiring talent, we are helping create talent to fit the job market.</h3>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="career-circle-video-container">
                            <video src="@(ProtocolAndHost)/videos/Career_Circle.mp4" controls frameborder="0" allowfullscreen></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row about-us-primary-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="content-panel">
                            <div class="content-panel-header">
                                Relevance
                            </div>
                            <div class="content-panel-body">
                                Upskill &amp; adapt to remain job-relevant in the digital age with CareerCircle.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="content-panel">
                            <div class="content-panel-header">
                                Skills For Tomorrow
                            </div>
                            <div class="content-panel-body">
                                Striving to make a difference in the world by CareerSkilling to help in solving problems in their communities, empowering their friends, and defining the future or work in our world.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="content-panel">
                            <div class="content-panel-header">
                                Self-Improvement
                            </div>
                            <div class="content-panel-body">
                                Improving your job readiness and competitiveness while creating a career pathway.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row about-us-secondary-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="partners-band">
                            <div class="partners-header font">
                                Partnering with:
                            </div>
                            <div class="partners-body">
                                <img src="~/images/woz_logo.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row about-us-tertiary-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-us-band">
                            <div class="contact-us-header">Contact Us</div>
                            <form id="ContactUsForm" asp-controller="Home" asp-action="ContactUs">
                                <div class="form-group">
                                    <label for="ContactUsFirstName">First Name</label>
                                    <input required type="text" class="form-control" asp-for="ContactUsFirstName" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$">
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsLastName">Last Name</label>
                                    <input required type="text" class="form-control" asp-for="ContactUsLastName" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$">
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsEmail">Email</label>
                                    <input required type="email" class="form-control" id="ContactUsEmail" asp-for="ContactUsEmail" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$">
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsType">Contact Type</label>
                                    <select class="form-control" id="ContactUsType" asp-for="ContactUsType">
                                        <option selected>General</option>
                                        <option>Partner</option>
                                        <option>Career paths</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsComment">General</label>
                                    <textarea required class="form-control" id="ContactUsComment" rows="3" asp-for="ContactUsComment"></textarea>
                                </div>
                                <div class="contact-us-button-container">
                                    <button type="submit" class="btn btn-primary brand-button font-small">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("ContactUsForm").trigger('reset');
</script>