@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model AboutViewModel

<div class="about-us-container">
    <div class="about-us-hero mb-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-fluid hero-logo mt-4" src="/images/career-circle-header.png"/>
                    <div class="tagline-wrapper">
                        <img class="img-fluid arrow" src="/images/arrow.png" />
                        <div class="row">
                            <div class="col">
                                <div class="text-uppercase text-center opensans-bold font-italic tagline f-color-primary">
                                    Preparing the workforce of today for the <span class="f-color-secondary">opportunities of tomorrow</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="~/images/RelevantCircle.png" />
            </div>
            <div class="col-sm-4">
                <img class="img-fluid" src="~/images/SkillingCircle.png" />
            </div>
            <div class="col-sm-4">
                <img class="img-fluid" src="~/images/DefineCircle.png" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <div class="career-circle-video-container">
                    <video class="embed-responsive embed-responsive-16by9 mb-3" src="@(ProtocolAndHost)/videos/Career_Circle.mp4" controls frameborder="0" allowfullscreen></video>
                </div>
            </div>
            <div class="col-md-6">
                <a href="#ContactUsForm">
                    <div class="banner-button blue">
                        Contact Us
                    </div>
                </a>
                <a href="https://woz-u.com/" target="_blank">
                    <div class="banner-button green">
                        Partner: 
                        <img class="d-inline-block img-fluid w-40" src="~/images/woz_logo_trans.png" />
                    </div>
                </a>
            </div>
    </div>
    </div>

    <div class="row about-us-tertiary-band mt-4">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pt-4 pb-4">
                        <div class="contact-us-band">
                            <div class="contact-us-header">Contact Us</div>
                            <form id="ContactUsForm" asp-controller="Home" asp-action="ContactUs">
                                <div class="form-group">
                                    <label for="ContactUsFirstName">First Name</label>
                                    <input required type="text" class="form-control" asp-for="ContactUsFirstName" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$">
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsLastName">Last Name</label>
                                    <input required type="text" class="form-control" asp-for="ContactUsLastName" pattern="^([A-Za-z]+[,.]?[ ]?|[A-Za-z]+['-]?)+$">
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsEmail">Email</label>
                                    <input required type="email" class="form-control" id="ContactUsEmail" asp-for="ContactUsEmail" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$">
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsType">Contact Type</label>
                                    <select class="form-control" id="ContactUsType" asp-for="ContactUsType">
                                        <option selected>General</option>
                                        <option>Partner</option>
                                        <option>Career paths</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ContactUsComment">General</label>
                                    <textarea required class="form-control" id="ContactUsComment" rows="3" asp-for="ContactUsComment"></textarea>
                                </div>
                                <div class="contact-us-button-container">
                                    <button type="submit" class="btn btn-primary brand-button font-small">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("ContactUsForm").trigger('reset');
</script>