@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model CampaignViewModel


<div id="CampaignContainer">
    @Html.Partial("Components/Bands/_TextWithVideoBand", new TextWithVideoBandViewModel {
        Header = "Expand Your Skills",
        DescriptionLine1 = "We prepare the workforce of today for the opportunities of tomorrow. Enroll in affordable courses and expand your skill set.",
        DescriptionLine2 = "We know where the top jobs are. Our partners include companies in Chicago, Baltimore, Charlotte, and Boston",
        VideoUrl = "/videos/Career_Circle.mp4",
        ChosenColorScheme = "cc-cscheme-secondary"
    })
    @Html.Partial("Components/Bands/_SkewBand", new SkewBandViewModel {
        SkewDirection = "skew-left-to-right",
        Header = "Become an Angular Developer",
        ChosenColorScheme = "cc-cscheme-tertiary-light-gray"
    })
</div>
<img src="@Model.TrackingImgSource" />