@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model SignUpViewModel;


<div id="CampaignContainer">
    @* Some of the below hardcoded values will be replaced with variables from the Model. *@
    @{
        List<string> Descriptions = new List<string>
    {
        "We prepare the workforce of today for the opportunities of tomorrow. Enroll in affordable courses and expand your skill set.",
        "Our partner companies cover the entire United States."
    };
    }

    <div class="cc-campaign-sign-up-band row" style="background-image: url('/images/versionctweakedagain.jpg'); background-position: top">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 cc-campaign-sign-up-band-left-container  d-flex align-items-end">
                        <div class="row">
                            <div class="col no-padding">
                                <div class="row">
                                    <div class="col-2 no-padding d-none d-lg-block">
                                        <i class="fas fa-user-md" style="font-size: 7rem"></i>
                                    </div>
                                    <div class="col-10 no-padding">
                                        <div class="row">
                                            <div class="col-12 hero-header font-bold" style="line-height: 2.5rem">
                                                Clinical Research<br />Coordinators Positions<br />Available
                                            </div>
                                            <div class="col-12 campaign-bullet-list">
                                                <div class="d-flex flex-column bd-highlight mb-3 mt-3">
                                                    <div class="bd-highlight font-bold">Sign up.</div>
                                                    <div class="bd-highlight font-bold">Create your profile.</div>
                                                    <div class="bd-highlight font-bold">Get a new job.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 cc-campaign-sign-up-band-right-container no-padding">
                        <div class="cc-campaign-sign-up-container">
                            <div class="row">
                                <div class="col-12 no-padding sub-header font-bold">
                                    Sign Up Today!
                                </div>
                                <div class="col-12 no-padding mini-header">
                                    Create an account to get started
                                </div>
                                <div class="col-12 no-padding">
                                    <div id="SignUpComponent">
                                        <form id="ExpressSignUpForm" asp-controller="Home" asp-action="ExpressSignUp">
                                            <div class="row">
                                                <div id="SignUpEmail" class="col-12 sign-up-input no-padding">
                                                    <input placeholder="Your email" form="ExpressSignUpForm" name="Email" asp-for="Email" required />
                                                </div>
                                                <div id="SignUpPassword" class="col-12 sign-up-input no-padding">
                                                    <input placeholder="Password" type="password" form="ExpressSignUpForm" name="Password" asp-for="Password" required />
                                                </div>
                                                <div id="SignUpPasswordRetype" class="col-12 sign-up-input no-padding">
                                                    <input placeholder="Re-enter password" type="password" form="ExpressSignUpForm" name="ReenterPassword" asp-for="ReenterPassword" required />
                                                </div>
                                                <div id="SignUpAction" class="col-12 no-padding">
                                                    @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                                        Text = "Sign Up Now",
                                                        SkewDirection = "skew-left-to-right",
                                                        ChosenColorScheme = "cc-cscheme-darkred",
                                                        Form = "ExpressSignUpForm",
                                                        ButtonAction = ActionButtonViewModel.Action.SUBMIT
                                                    })
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-12 no-padding campaign-disclaimer text-left">
                                    By clicking Sign Up Now, you agree to our <a href='/Home/TermsOfService' target='_blank'>Terms Of Service</a>.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cc-skew-band cc-cscheme-tertiary-light-gray row">
        <div class="col-12">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-12 no-padding">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center no-padding mt-4">
                                <div class="cc-skew-band-header font-bold">
                                    At CareerCircle, Our Focus Is You
                                </div>
                            </div>
                            <div class="col-lg-8 offset-lg-2 mb-4 no-padding">
                                <div class="cc-skew-band-content">
                                    <div class="row">
                                        Clinical Research Fastrack is partnering  with CareerCircle to support specific hiring needs for Clinical Research Coordinators in your market!  We want to support you in finding your ideal role based on the training you recently acquired.  We invite you to set up an account and fill out your talent profile to get linked to recruiters that are specifically aligned with finding you the job you have been training for.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>