@using UpDiddy.ViewModels
@using UpDiddyLib.Dto

<div class="faq-page-container">
    <div class="row faq-hero-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="faq-hero">
                            <div class="faq-header">
                                Frequently Asked Questions
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row faq-content">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row faq-content-container">
                            <h3>Signup for an Account</h3>
                            <p>Follow the below steps to create your own CareerCircle account.</p>
                            <ol>
                                <li>Go to the CareerCircle login page.</li>

                                <li>There is an option at the bottom of the login credential box that allows you to sign up for a new account.</li>

                                <li>Click signup now.</li>

                                <li>Enter your email address.</li>

                                <li>Click send verification code to your email.</li>

                                <li>An email will be sent to you with a verification code. This code should be entered in the verification code field.</li>

                                <li>Click verify code.</li>

                                <li>Enter the password you would like to use for your CareerCircle account.</li>

                                <li>Confirm your password.</li>

                                <li>Click the agreement to terms and conditions and email marketing.</li>

                                <li>Click Create.</li>
                            </ol>
                            <h3>Forgot Password</h3>
                            <p>Follow the below steps to request a password reset with CareerCircle</p>
                            <ol>
                                <li>Go to the CareerCircle login page.</li>

                                <li>Below the password entry is a link to 'Forgot your password?'.</li>

                                <li>Enter your email address that is associated with your CareerCircle account and click the send verification code button.</li>

                                <li>An email will be sent to you with a verification code. This code should be entered in the verification code field.</li>

                                <li>Click verify code.</li>

                                <li>Click continue.</li>

                                <li>Enter your new password and confirm your new password.</li>

                                <li>Click continue.</li>
                            </ol>
                            <h3>Password Requirements</h3>
                            <p>Your password must be between 8-16 characters and contain 3 out of 4 of the following types:</p>
                            <ul>
                                <li>Lower case character</li>
                                <li>Upper case character</li>
                                <li>Number</li>
                                <li>Symbol: @@ # $ % ^ & * - _ + = [ ] { } | \ : ' , ? / ` ~ ” ( ) ;</li>
                            </ul>
                            <h3>Updating CareerCircle Profile</h3>
                            <p>Follow the below steps to update your existing CareerCircle profile:</p>
                            <ol>
                                <li>Go to the CareerCircle login page.</li>

                                <li>Login with your credentials.</li>

                                <li>Click 'My Circle', found in the upper right of the webpage.</li>

                                <li>Click 'Edit'.</li>

                                <li>Enter your information.</li>

                                <li>Click 'Submit'.</li>
                            </ol>
                            <h3>Enrolling in Courses</h3>
                            <p>Follow the below steps to enroll in a course:</p>
                            <ol>
                                <li>On the CareerCircle Homepage, scroll down to the Career Training Categories.</li>

                                <li>Click on Desired Career Training Category.</li>

                                <li>Click Enroll on desired course.</li>

                                <li>Fill out billing information.</li>

                                <li>Click Enroll.</li>
                            </ol>
                            <h3>Check Course Progress</h3>
                            <p>Follow the below steps to check your progress in course:</p>
                            <ol>
                                <li>Go to the CareerCircle login page.</li>

                                <li>Login with your credentials.</li>

                                <li>Click 'My Circle'.</li>

                                <li>Enrolled courses will show under the Courses in Progress.</li>

                                <li>Hover over a specific course to show the percentage completed.</li>
                            </ol>
                            <p><strong>Please feel free to reach out to us using the 'Contact Us' form at the bottom of the <a asp-controller="Home" asp-action="About">About Us</a> page.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
