@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using Microsoft.AspNetCore.Http;
@model HomeViewModel

@inject IViewLocalizer L

@{
    ViewData["Title"] = L["Home Page"];
}

@section Scripts
{
    <script>

        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.async = true;
        script.defer = true;
        script.src = 'https://maps.googleapis.com/maps/api/js?key=@Model.GoogleMapsApi&callback=initMap';
        head.appendChild(script);
    </script>
    <script async defer src="~/js/modules/googlemaps.js"></script>
}
<script>

function initMap()
{
	var data = @Html.Raw(Json.Serialize(@Model.JobCount));
    var baseurl = @Html.Raw(Json.Serialize(@Model.BaseUrl));
	var m = new GMap(data, baseurl);
}
</script>
<style>
    #map {
        height: 700px;
        width: 100%;
    }
</style>
<div class="home-container">
    <div class="gmap-container">
        <div id="map"></div>
    </div>
    <div class="row home-hero-bottom">
        <div class="col-md-12">
            <div class="container">
                <div class="row home-hero-bottom-cta no-gutters">
                    <div class="col-md-6 f-color-white hero-home-bottom-details d-flex align-items-center">
                        <div>
                            <div class="hero-title hero-bold">Join <span class="f-color-primary">CareerCircle<sup>TM</sup></span> Today!</div>
                            <div class="hero-description pb-4">
                                <p>
                                    CareerCircle helps you navigate the digital career experience, by aligning your career goals with upskilling, mentoring, and coaching opportunities.
                                </p>
                                <p>
                                    We’re in the business of helping YOU succeed. Whether you’re missing relevant skills, lack a deep work history, or just want to reskill for future opportunities, gaining newly developed and acquired skills is a powerful way to propel your career forward. And we will be there to help you all the way.
                                </p>

                            </div>
                            <div class="brand-button-container">
                                <a asp-controller="Session" asp-action="SignIn"><div class="btn brand-button-tertiary border-white">Create your <strong>FREE</strong> CareerCircle Profile</div></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <img class="d-md-block d-none hero-my-circle" src="~/images/mentoring_careerops_upskilling.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>