@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L

@{
    ViewData["Title"] = L["Home Page"];
}


<div id="HomeContainer" class="row">
    <div class="col-md-6">
        Join CareerCircle today and begin your journey
    </div>
    <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nam varius porta orci, eu lobortis sem. 
        Etiam laoreet pellentesque enim, rhoncus auctor leo posuere in. 
        Phasellus magna magna, accumsan et est in, varius suscipit sapien. 
        Proin sodales ante id dui eleifend convallis. 
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        Sed vitae eros fermentum, tincidunt velit a, accumsan orci. 
        Cras magna neque, maximus a porta suscipit, interdum sed nisi. 
        Ut a ante non lectus accumsan tincidunt.
        Phasellus ligula felis, congue ac consectetur eu, rhoncus ut massa. 
        Vestibulum porta placerat laoreet. Duis non velit mauris. Donec mollis neque quis tristique ultricies.
    </div>
    <div class="col-md-12 text-center">
        <button>Create Account</button>
    </div>
</div>