@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model HomeViewModel
<script src="~/js/modules/usmap.js"></script>
<script>
   window.onload = (event) => {
   var data = @Html.Raw(Json.Serialize(@Model.JobCount));
   var map = new USMap(data);
   map.initialize(data);
   };
</script>
<div id="HomeContainer">
   <div id="" class="row ml-4 mt-4">
       <h1>CareerCircle Admin Portal</h1>
   </div>
</div>