@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model HomeViewModel

@inject IViewLocalizer L

@{
    ViewData["Title"] = L["Home Page"];
}


<div class="home-container">
    <section class="section video-section">
        <div class="video-wrapper jquery-background-video-wrapper" style="background-image: url('../images/hero/1_second.jpg')">
            <video data-bgvideo="true" autoplay loop muted plays-inline poster="../images/hero/1_second.jpg">
                <source src="../videos/hero_video_v2.mp4" type="video/mp4">
            </video>    
        </div>
        <div class="hero-content">
            <div class="d-flex justify-content-center h-100">
                <div class="align-self-center text-white">
                    <h1 class="display-4">Stay Relevant.</h1>
                    <h3>Become Empowered.</h3>
                    <h3>Control Your Career.</h3>
                    <a asp-controller="Home" asp-action="About" class="btn btn-primary btn-lg   border-0">About Us</a>
                </div>
            </div>
        </div>
    </section>
    <div class="row home-hero-bottom">
        <div class="col-md-12">
            <div class="container">
                <div class="row home-hero-bottom-cta">
                    <div class="col-md-6 f-color-white hero-home-bottom-details d-flex align-items-center">
                        <div>
                            <div class="hero-title hero-bold">Join <span class="f-color-primary">CareerCircle<sup>TM</sup></span> Today!</div>
                            <div class="hero-description pb-4">CareerCircle helps you navigate the digital career experience, by aligning you career goals with  upskilling, mentoring, and coaching opportunities.</div>
                            <div class="brand-button-container">
                                <a asp-controller="Session" asp-action="SignIn"><div class="btn brand-button-tertiary border-white">Create your <strong>FREE</strong> CareerCircle Profile</div></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <img class="hero-my-circle" src="~/images/mentoring_careerops_upskilling.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-courses">
        <div class="container">
            <div class="row course-categories">
                <div class="col-md-6 career-training-header-container">
                    <span class="section-heading f-color-primary">
                        Career Training Categories
                    </span>
                </div>
                <div class="col-md-6">
                    <!--
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Course Search">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                    </div>-->
                </div>
                @foreach (TopicDto topic in Model.Topics)
                {
                    string DescriptionBlurb = topic.Description;
                    if (DescriptionBlurb.Length > 130)
                    {
                        DescriptionBlurb = DescriptionBlurb.Substring(0, 130) + "...";

                    }
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card-column">
                        <a class="card-hyperlink-container" href="/Topic/@(topic.Slug)">
                            <div class="card">
                                <img class="card-img-top" src="@(Model.ImageUrl + topic.DesktopImage)" alt="Card image cap">
                                @*<div class="card-body">
                                    <h5 class="card-title">@topic.Name</h5>
                                    <p class="card-text fade-text">@DescriptionBlurb</p>
                                    <!--<div class="card-footer-cc">
                                        <a href="/Topic/@(topic.Slug)" class="view-courses-link">View Courses <i class="fas fa-angle-double-right"></i></a>
                                    </div>-->
                                </div>*@
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>