@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using Microsoft.AspNetCore.Http;
@model HomeViewModel

@inject IViewLocalizer L

@{
    ViewData["Title"] = L["Home Page"];
}

<script src="~/js/core/mapdata.js" type="text/javascript"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRck5vHO3-INNTTiU82mSnhlWNFskT2E&callback=initMap" type="text/javascript"></script>
<script>
    var markers = Array();
    function generateInfoWindow(state)
    {
        var string =    '<h4>' + state + '</h4>' +
                        '<div>' +
                        '<div class="row">' +
                                '<div class="col-6">All:</div>' +
                                '<div class="col-6"><b>75</b></div>' +
                        '</div>' +
                        '<div class="row">' +
                                '<div class="col-6">TekSystem</div>' +
                                '<div class="col-6"><b>25</b></div>' +
                        '</div>' +
                        '<div class="row">' +
                                '<div class="col-6"> AeroTek: </div>' +
                                '<div class="col-6"><b>25</b></div>' +
                        '</div>' + 
                        '<div class="row">'+ 
                                '<div class="col-5"> Allegis Group:</div>' +
                                '<div class="col-6"><b>25</b></div>' +
                        '</div>' +
                        '</div>';
         return string;
    }

    function initMap() {
        var uscords = { lat: 37.8283, lng: -98.5795 };

         map = new google.maps.Map(document.getElementById('map'), {
          center: uscords,
          zoom: 4.5
        });

       @if(Model.JobCount != null)
       {
            @for(int i = 0; i < @Model.JobCount.Count; i++)
            {

                <text>
                var key = @Model.JobCount[i].StateId;
                var value = @Model.JobCount[i].TotalCount;
                var marker = new google.maps.Marker({
                position: mapdata.states[key].cords,
                label: value.toString(),
                title: mapdata.states[key].name
                });
                markers.push(marker);
                marker.setMap(map);
            </text>
            }
       }   
    }   
</script>
<style>
    #map {
        height: 700px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>
<div class="home-container">
    <div>
        <div id="map"></div>
    </div>
    <div class="row home-hero-bottom">
        <div class="col-md-12">
            <div class="container">
                <div class="row home-hero-bottom-cta no-gutters">
                    <div class="col-md-6 f-color-white hero-home-bottom-details d-flex align-items-center">
                        <div>
                            <div class="hero-title hero-bold">Join <span class="f-color-primary">CareerCircle<sup>TM</sup></span> Today!</div>
                            <div class="hero-description pb-4">
                                <p>
                                    CareerCircle helps you navigate the digital career experience, by aligning your career goals with upskilling, mentoring, and coaching opportunities.
                                </p>
                                <p>
                                    We’re in the business of helping YOU succeed. Whether you’re missing relevant skills, lack a deep work history, or just want to reskill for future opportunities, gaining newly developed and acquired skills is a powerful way to propel your career forward. And we will be there to help you all the way.
                                </p>

                            </div>
                            <div class="brand-button-container">
                                <a asp-controller="Session" asp-action="SignIn"><div class="btn brand-button-tertiary border-white">Create your <strong>FREE</strong> CareerCircle Profile</div></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <img class="d-md-block d-none hero-my-circle" src="~/images/mentoring_careerops_upskilling.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>