@using UpDiddy.ViewModels

<div class="job-details-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-content-box">
                    <div class="job-name">
                        Software Engineer
                    </div>
                    <div class="job-details">
                        <span class="job-company">Aerotek</span>
                        <span class="job-posted-date">Posted: 04/22/2019</span>
                    </div>
                    <div class="apply-button container-align-right">
                        @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                Text = "Apply <i class=\"fas fa-arrow-right\"></i>",
                                Hyperlink = "#",
                                FitToText = true,
                                ChosenColorScheme = "cc-cscheme-secondary",
                                ButtonAction = ActionButtonViewModel.Action.CTA
                            })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="job-board-heading">Job Snapshot</div>
        </div>
        <div class="col-6">
            <div>
                <strong>Location:</strong> <span class="job-location">Mountain View, CA, US</span>
            </div>
            <div>
                <strong>Posting ID:</strong> <span class="job-location">Mountain View, CA, US</span>
            </div>
        </div>
        <div class="col-6">
            <strong>Employee Type:</strong> <span class="employee-type">Contract to hire</span>
        </div>
        <div class="col-12">
            <div class="job-board-heading">Job Summary</div>
            <div class="job-summary">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </div>
            <div>
                <p>About CareerCircle:</p>
                <p>The statistic has gone viral that there will be a talent shortage of 85.2M people by 2030. CareerCircle was founded in the spirit of finding solutions to address the pending skills gap versus falling victim to it. With so many capable people wanting to find employment and employers needing partners to achieve their goals, CareerCircle is here to provide a bridge.</p>
                <p>
                    At CareerCircle, we recognize that CareerskillingTM is the fastest path to improved performance and securing your ideal role. To advance your skills, you need access to the highest caliber of online education technology that is delivered in a meaningful way.

                    Here is where we come in.

                    We partner with experts in education technology to deliver unique learning experiences that can be instructor-led or self- paced, supplemented with the necessary support for optimal results. By completing the coursework provided by these groups, candidates gain the ability to be marketed to recruiters and potential employers with an emphasis on acquired skills and performance, versus limited work history or listed resume experience.

                    In the end, your journey of advanced education leads to higher pay, flexibility, and a better life.
                </p>
            </div>
        </div>
        <div class="col-12">
            <div class="job-board-heading">Contact Information</div>
            <div>
                <strong>Name:</strong> <span class="job-contact-name">John Smith</span>
            </div>
            <div>
                <strong>Email:</strong> <span class="job-contact-email">johnsmith@test.com</span>
            </div>
            <div>
                <strong>Phone:</strong> <span class="job-contact-phone">(123) 456-7890</span>
            </div>
            @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                Text = "Apply <i class=\"fas fa-arrow-right\"></i>",
                                Hyperlink = "#",
                                FitToText = true,
                                ChosenColorScheme = "cc-cscheme-secondary",
                                ButtonAction = ActionButtonViewModel.Action.CTA
                            })
        </div>
    </div>
</div>