@{
    Layout = "_SimpleLayout";
}

@*
    This is a utility landing page introduced to handle the Session
    issue for iOS devices. We're sending this page to login.microsoft.com
    as the redirect URL, and then redirecting to our login page from here.

    iOS HTTPContext implementation appears to create a new Session object
    per domain, so the HTTPContext used to call the Profile page has to
    originate from our app, not login.microsoft.
*@
<script>
    // Adding code to make page wait for "Logging In" text to be displayed to user.
    document.addEventListener("DOMContentLoaded", function (event) {
        window.location.href = "/Home/ProfileLogin";
    });
</script>

<div class="simple-container">
    <div class="row">
        <div class="col-md-12 simple-title">
            Logging you in
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 simple-detail">
            You will be redirected to your profile page momentarily...
        </div>
    </div>
</div>