@{
    Layout = "_SimpleLayout";
}

@*
   Page will let user know that their contact us message has been received.
*@
<script>
   
</script>

<div class="simple-container">
    <div class="row">
        <div class="col-md-12 simple-title">
           Contact Us
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 simple-detail">
          Thanks for contacting us, your message has been received!
        </div>
    </div>
</div>