<div class="error-container">
    <div class="row error-message-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-hero">
                            <div class="error-header">
                                Page not found.
                            </div>
                            <div class="error-sub-header">
                                The requested URL <span>@ViewBag.InvalidPath</span> was not found.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
