@using UpDiddy.ViewModels
@using UpDiddyLib.Dto

<div class="privacy-page-container">
    <div class="row privacy-hero-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="privacy-hero">
                            <div class="privacy-header">
                                Privacy Policy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row privacy-content">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row privacy-content-container">
                            <p>Last modified: November 19, 2018</p>

                            <p>CareerCircle is a company that provides online career education services to professionals who need to increase their skills or upskill to be ready for their next career opportunity.  A description of our services can be found on the CareerCircle website, <a href="https://careercircle.com">https://careercircle.com</a>.</p>

                            <p>Our Privacy Notice applies to all of the services offered by CareerCircle, including services offered on other sites (such as integration partners), but excludes services that have separate privacy policies that do not incorporate this Privacy Notice.</p>

                            <p>CareerCircle believes that privacy and security are important for everyone. Our Privacy Policy will help you understand how we collect and use data to provide our services.</p>

                            <p>We take the privacy and security of your information very seriously. As you use our services, we want you to be clear how we're using information and how you can interact with us about any privacy questions or concerns.</p>

                            <p>
                                Our Privacy Notice explains:
                            </p>
                            <div>
                                <ul>
                                    <li>
                                        How we protect information that you transfer or input into CareerCirce.
                                    </li>
                                    <li>
                                        What information we collect and why we collect it.
                                    </li>
                                    <li>
                                        How we use the information we collect.
                                    </li>
                                    <li>
                                        The choices we offer, including how to access and update information.
                                    </li>
                                    <li>
                                        How we protect the confidentiality, integrity and accessibility of your information.
                                    </li>
                                </ul>
                            </div>
                            

                            <h3>Information you upload or input</h3> 

                            <p>
                                Your information is yours. Many of our Services allow you to upload or otherwise input information into your private CareerCircle database. Your information is protected by multiple layers of security, which are designed to prevent unauthorized access.
                            </p>
                            
                            <h3>Information we collect</h3>

                            <p>We collect several different types of information for various purposes to provide and improve our Service to you. </p>

                            <p>We collect both anonymous and non-anonymous information to provide better services to all of our users.</p>

                            <p>
                                We collect information in three ways:
                                <ul>
                                    <li>
                                        <b>Information you give us.</b> For example, many of our services require you to provide certain information to us to sign up for education opportunities that we offer.  When you do, we'll ask for personal information, like your name, email address, telephone number or credit card.
                                    </li>
                                    <li>
                                        <b>Information we get from your use of our services.</b> We may collect information about the services that you use and how you use them, like when you use our social integration services or you view, rate, or contact candidates through our service. This information includes:
                                        <ul>
                                            <li>
                                                <b>Device information -</b>
                                                We may collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number). CareerCircle may associate your device identifiers or phone number with your CareerCircle Account.
                                            </li>
                                            <li>
                                                <b>Log information -</b>
                                                When you use our services or view content provided by CareerCircle we might automatically collect and store certain information in server logs.  We may collect and process information about your actual location, like GPS signals sent by a mobile device. When you use a location-enabled CareerCircle service, we may also use various technologies to determine location, such as sensor data from your device that may, for example, provide information on nearby Wi-Fi access points and cell towers.
                                            </li>
                                            <li>
                                                We may also collect:
                                                <ul>
                                                    <li>
                                                        Details of how you used our service, such as your search queries and usage data patterns.  Usage Data is data collected automatically either generated by the use of the CareerCircle service or from the CareerCircle service infrastructure itself (for example, the duration of a page visit).
                                                    </li>
                                                    <li>
                                                        Internet protocol address.
                                                    </li>
                                                    <li>
                                                        Device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL.
                                                    </li>
                                                    <li>
                                                        Cookies are small pieces of data stored on your device (computer or mobile device).  We may collect Cookies that may uniquely identify your browser or your CareerCircle account. You may also set your browser to block all cookies, including cookies associated with our services, or to indicate when a cookie is being set by us. However, it's important to remember that many of our services may not function properly if your cookies are disabled. For example, we may not remember your preferences.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>

                            <p>
                                <h5>Unique application numbers</h5>
                                <ul>
                                    <li>Certain services include a unique application number. This number and information about your installation (for example, the operating system type and application version number) may be sent to CareerCircle when you install or uninstall that service or when that service periodically contacts our servers, such as for automatic updates.</li>
                                </ul>
                            </p>

                            <p>
                                <h5>Local storage</h5>
                                <ul>
                                    <li>We may collect and store information (including personal information) locally on your device using mechanisms such as browser web storage (including HTML 5) and application data caches.</li>
                                </ul>
                            </p>

                            <p>
                                <h5>Cookies and anonymous identifiers</h5>
                                <ul>
                                    <li>
                                        We use various technologies to collect and store information when you visit a CareerCircle service, and this may include sending one or more cookies or anonymous identifiers to your device. We also use cookies and anonymous identifiers when you interact with services we offer to our partners, such as CareerCircle features that may appear on other sites.
                                    </li>
                                </ul>
                            </p>

                            <p>
                                <b>We do not support Do Not Track ("DNT").</b> Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked. You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.
                            </p>

                            <p>
                                <b>Information we collect from our partners.</b> We may use and aggregate information from our business and integration partners to provide our services.  Further, we may employ service partners, or third-party companies and individuals to facilitate our services (our service providers), to provide the Service on our behalf, to perform service-related services or to assist us in analyzing how our service is used. These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
                            </p>

                            <p>
                                <b>Analytics -</b> We may use third-party service providers to monitor and analyze the use of our service.
                            </p>

                            <div>
                                <p>
                                    <b>Google Analytics -</b> Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.
                                </p>
                                <p>
                                    You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.
                                </p>
                                <p>
                                    For more information on the privacy practices of Google, please visit the Google Privacy Terms web page: <a target="_blank" href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a>.
                                </p>
                            </div>

                            <p>
                                <b>Behavioral Remarketing -</b> CareerCircle uses remarketing services to advertise on third party websites to you after you visited our Service. We and our third-party vendors use cookies to inform, optimize and serve ads based on your past visits to our service.
                            </p>

                            <div>
                                <p>
                                    <b>Google AdWords -</b> Google AdWords remarketing service is provided by Google Inc.  You can opt-out of Google Analytics for Display Advertising and customize the Google Display Network ads by visiting the Google Ads Settings page: http://www.google.com/settings/ads. Google also recommends installing the Google Analytics Opt-out Browser Add-on— https://tools.google.com/dlpage/gaoptout — for your web browser. Google Analytics Opt-out Browser Add-on provides visitors with the ability to prevent their data from being collected and used by Google Analytics.
                                </p>
                                <p>
                                    For more information on the privacy practices of Google, please visit the Google Privacy Terms web page: <a target="_blank" href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a>
                                </p>
                            </div>

                            <p>
                                Twitter - Twitter remarketing service is provided by Twitter Inc.  You can opt-out from Twitter's interest-based ads by following their instructions: <a href="https://support.twitter.com/articles/20170405" target="_blank">https://support.twitter.com/articles/20170405</a> You can learn more about the privacy practices and policies of Twitter by visiting their Privacy Policy page: <a href="https://twitter.com/privacy" target="_blank">https://twitter.com/privacy</a>
                            </p>

                            <div>
                                <p>
                                    Facebook - Facebook remarketing service is provided by Facebook Inc.  You can learn more about interest-based advertising from Facebook by visiting this page: <a href="https://www.facebook.com/help/164968693837950" target="_blank">https://www.facebook.com/help/164968693837950</a> To opt-out from Facebook's interest-based ads follow these instructions from Facebook: <a href="https://www.facebook.com/help/568137493302217" target="_blank">https://www.facebook.com/help/568137493302217</a> Facebook adheres to the Self-Regulatory Principles for Online Behavioral Advertising established by the Digital Advertising Alliance. You can also opt-out from Facebook and other participating companies through the Digital Advertising Alliance in the USA http://www.aboutads.info/choices/, the Digital Advertising Alliance of Canada in Canada http://youradchoices.ca/ or the European Interactive Digital Advertising Alliance in Europe http://www.youronlinechoices.eu/, or opt-out using your mobile device settings.
                                </p>
                                <p>
                                    For more information on the privacy practices of Facebook, please visit Facebook's Data Policy: <a href="https://www.facebook.com/privacy/explanation" target="_blank">https://www.facebook.com/privacy/explanation</a>.
                                </p>
                            </div>

                            <div>
                                <h3>
                                    How we use information we collect
                                </h3>
                                <p>
                                    We use the information we collect from all of our services to provide, maintain, protect and improve them, to develop new ones, and to protect CareerCircle and our users. We also use this information to offer you educational content more tailored for your upskilling specific needs.
                                </p>
                                <p>
                                    When you contact CareerCircle, we may keep a record of your communication to help solve any issues you might be facing. We may use your email address to inform you about our services, such as letting you know about upcoming changes or improvements, or with your permission, other notifications.
                                </p>
                                <p>
                                    We use information collected from cookies and other technologies, like pixel tags, to improve your user experience and the overall quality of our services. We may combine personal information from one service with information, including personal information, from other CareerCircle services – for example to make it easier to share things with people you know. We will ask for your consent before using information for a purpose other than those that are set out in this Privacy Notice.
                                </p>
                            </div>

                            <div>
                                <h4>
                                    Transparency and choice
                                </h4>
                                <p>
                                    You may contact us for any privacy related matters via email at <a href="mailto:privacy@CareerCircle.com">privacy@CareerCircle.com</a>.
                                </p>
                                <p>
                                    You may request information about any personal information we have stored about you and request that the information be removed by contacting us a <a href="mailto:privacy@CareerCircle.com">privacy@CareerCircle.com</a>, we will work with you to understand any data we store about you and remove it upon your request (requires identity verification).
                                </p>
                            </div>

                            <div>
                                <h4>With team administrators</h4>
                                <ul>
                                    <li>
                                        If your CareerCircle Account is managed for you by a team administrator (for example, for CareerCircle users working in teams) then your team administrator and resellers who provide user support to your organization will have access to team administration and may be able to:
                                        <ul>
                                            <li>
                                                view statistics regarding your account, like usage statistics and access logs,
                                            </li>
                                            <li>
                                                change your account password,
                                            </li>
                                            <li>
                                                suspend or terminate your account access,
                                            </li>
                                            <li>
                                                access or retain information stored as part of your account,
                                            </li>
                                            <li>
                                                receive your account information in order to satisfy applicable law, regulation, legal process or enforceable governmental request, and
                                            </li>
                                            <li>
                                                restrict your ability to delete or edit information or privacy settings.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Please refer to your team administrator's privacy notice for more information.
                                    </li>
                                </ul>
                            </div>

                            <div>
                                <h4>For legal reasons</h4>
                                <p>
                                    We will share personal information with companies, organizations or individuals outside of CareerCircle if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
                                    <ul>
                                        <li>
                                            meet any applicable law, regulation, legal process or enforceable governmental request,
                                        </li>
                                        <li>
                                            enforce applicable Terms of Service, including investigation of potential violations,
                                        </li>
                                        <li>
                                            detect, prevent, or otherwise address fraud, security or technical issues, and
                                        </li>
                                        <li>
                                            protect against harm to the rights, property or safety of CareerCircle, our users or the public as required or permitted by law.
                                        </li>
                                    </ul>
                                </p>
                            </div>

                            <div>
                                <h3>Information Security</h3>
                                <p>
                                    We work hard to protect our services and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold.
                                </p>
                                <ul>
                                    <li>
                                        We regularly review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.
                                    </li>
                                    <li>
                                        We regularly audit our systems and software.
                                    </li>
                                    <li>
                                        We employ automated monitoring and mitigation technology to warn and potentially stop malicious activity.
                                    </li>
                                </ul>
                            </div>
                            
                            <div>
                                <h4>Enforcement</h4>
                                <p>
                                    We regularly review our compliance with our Privacy Notice. We also adhere to several self-regulatory frameworks. When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that we cannot resolve with our users directly.
                                </p>
                            </div>

                            <div>
                                <h4>Changes</h4>
                                <p>
                                    Our Privacy Notice may change from time to time. We will post any privacy notice changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy notice changes). We will also keep prior versions of this privacy notice in an archive for your review.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>