<div class="profile-container">
    <div class="row profile-hero">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-headshot">
                            <img src="~/images/blank_avatar.jpg" />
                        </div>
                        <div class="row profile-header-info">
                            <div class="offset-md-3 col-md-5">
                                <div class="career-circle-profile-text">My CareerCircle Profile</div>
                                <div id="ProfileName" class="career-circle-profile-name">John Smith</div>
                                <div class="career-circle-profile-email">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    johnsmith@careercircle.com
                                </div>
                            </div>
                            <div class="col-md-4">
                                Circle Completion Rating
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-body-container">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="offset-md-3 col-md-9">
                        <div class="course-recommendation-container">
                            <div class="course-recommendation-header">
                                <h2>Course Recommendation</h2>
                            </div>
                        </div>
                        <div class="courses-in-progress-container">
                            <div class="course-in-progress-header">
                                <h2>Courses in Progress</h2>
                            </div>
                        </div>
                        <div class="dashed-line-boxes-container">
                            <div class="edit-personal-info-container">
                                <div class="personal-info-header">
                                    <h2>Contact Information</h2>
                                </div>
                                <div class="personal-info-form">
                                    <form id="PersonalInfoForm">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ProfileFirstName" id="ProfileFirstName" placeholder="First Name" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ProfileLastName" id="ProfileLastName" placeholder="Last Name" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ProfileEmail" id="ProfileEmail" placeholder="Email" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" name="ProfilePhone" id="ProfilePhone" placeholder="Phone" required>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
