@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model SignupFlowViewModel

<link rel="stylesheet" type="text/css" href="~/lib/animate/animate.css">
<script src="~/js/signup-flow.js"></script>

<div class="modal fade" id="WorkHistoryModal" tabindex="-1" role="dialog" aria-labelledby="WorkHistoryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="JobTitleInput">Job Title</label>
                    <input type="text" class="form-control" id="JobTitleInput">
                </div>
                <div class="form-group">
                    <label for="OrganizationInput">Organization</label>
                    <input type="text" class="form-control" id="OrganizationInput">
                </div>
                <div class="form-group">
                    <label for="JobDescriptionInput">Job Description</label>
                    <textarea class="form-control" id="JobDescriptionInput" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <span class="work-history-modal-validation hidden">Please enter valid values.</span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save-new-work-history-item">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EducationModal" tabindex="-1" role="dialog" aria-labelledby="EducationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="InstitutionInput">Institution</label>
                    <input type="text" class="form-control" id="InstitutionInput">
                </div>
                <div class="form-group">
                    <label for="MajorInput">Major</label>
                    <input type="text" class="form-control" id="MajorInput">
                </div>
            </div>
            <div class="modal-footer">
                <span class="work-history-modal-validation hidden">Please enter valid values.</span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save-new-work-history-item">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="signup-flow-container">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row signup-flow-row">
                    <div id="Flow-ResumeColumn" class="col-12 signup-flow-column animated slideInUp">
                        
                            <div id="SignupFlowCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active carousel-item-first">
                                        <div class="resume-intro-container">
                                            <div>
                                                <h1 id="TypewriterHeader">Hi there...</h1>
                                            </div>
                                            <div>
                                                <h2 id="ResumeUploadHeader">Let's get started by uploading your resume!</h2>
                                            </div>
                                            <form asp-controller="Home" asp-action="UploadResume" enctype="multipart/form-data" id="ResumeUploadForm">

                                                <div class="form-group">
                                                    <div id="UploadedResumeText" class="appear-on-resume-attach">

                                                    </div>
                                                    <label id="UploadedResumeLabel" for="UploadedResume" class="custom-file-upload">
                                                        <i class="fas fa-file-upload"></i>&nbsp;&nbsp;Choose File
                                                    </label>
                                                    <input id="UploadedResume" type="file" asp-for="Resume" />
                                                    <input type="submit" value="Upload" class="appear-on-resume-attach btn-resume-submit">

                                                </div>
                                            </form>


                                        </div>

                                    </div>
                                    <div class="carousel-item carousel-item-second">
                                        <div class="linked-in-container">
                                            <div>
                                                <h2>Have a LinkedIn account?<br />Let's sync it with your CareerCircle profile.</h2>
                                                <div class="mt-4 p-4">
                                                    @*Need to make this actionable based on a passed-in subscriber guid*@
                                                    @await Component.InvokeAsync("LinkedInSync")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="work-history-container">
                                            <div>
                                                <h2>Let's add your previous and current work experiences.</h2>
                                                <div class="work-history-log">
                                                    <div class="row">
                                                        @* Work history dynamically added here. *@
                                                    </div>

                                                </div>

                                                <div class="mt-3 add-work-history" data-toggle="modal" data-target="#WorkHistoryModal">
                                                    <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="education-container">
                                            <div>
                                                <h2>Tell us about your education</h2>
                                                <div class="work-history-log">
                                                    <div class="row">
                                                        @* Work history dynamically added here. *@
                                                    </div>

                                                </div>

                                                <div class="mt-3 add-work-history" data-toggle="modal" data-target="#WorkHistoryModal">
                                                    <i class="fas fa-plus"></i>&nbsp;&nbsp;Add
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="previous-container animated">
                                    <div class="flow-prev-button">
                                        <a href="#SignupFlowCarousel" role="button" data-slide="prev">Previous</a>
                                    </div>
                                </div>
                                <div class="skip-next-container">
                                    @*<div class="skip-flow-screen">
                                        <a href="#SignupFlowCarousel" role="button" data-slide="next">Skip</a>
                                    </div>*@
                                    <div id="SignupFlowNextButton" class="flow-next-button disabled">
                                        <a role="button" data-slide="next">Next</a>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
