@media(min-width:1200px){
    #AdminContainer {
    }
}

@media(min-width:992px){
    #AdminContainer {
    }
}

#AdminContainer {
    background-color: gray;

    .nav-admin {
        .nav-link {
            height: 45px;
            padding-top: 10px;

            &.active {
                background-color: dimgray;
            }
        }
    }
}

.admin-skills-container {
    label { 
        line-height: 30px;
        margin-left: 4px;
    }

    .selectizeLoading > .selectize-input, .selectizeLoading > .selectize-input > input {
        cursor: wait !important;
        font-style: italic;
        background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat center center;
    }
}

.admin-breadcrumb {
    font-size: 12px;
    color: dimgray;

    a {
        color: $color-secondary;
    }
}

.mvc-grid {
    .table.admin-grid {
        background-color: white;

        th {
            background-color: transparent;
        }

        .far {
            &.fa-eye {
                color: $color-primary;
            }
        }

        &.table-primary {
            thead {
                tr {
                    background-color: gray;
                    font-weight: normal;
                    color: #fff;
                }
            }

            .mvc-grid-filter {
                color: white;

                &:hover {
                    background-color: #135f79;
                }
            }
        }
    }
}


.mvc-grid-pager.admin-pager{
    button {
        color: $color-secondary;

        &.active {
            background-color: gray;
            border-color: $color-primary;

            &:hover {
                background-color: #135f79;
                border-color: #135f79;
            }
        }

        &:focus,
        &:hover {
            border-color: $color-primary;
        }
    }
}

.react-report-table {
    .react-datepicker-wrapper,
    .react-datepicker-popper {
        z-index: 5;
    }
}

#addRecruiterModal {
    #searchRecruitersBox{
        width:100%;
        height:100%;
    }
}