@import '_variables';

// Base Styles
@media (min-width: 0px) {
    #CampaignContainer {
        > div {
            padding: 3rem 0;

            .campaign-hero-header {
                font-size: 2rem;
            }

            .campaign-hero-subheader{
                font-size: 1.5rem; 
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
    #CampaignContainer {
    }
}

// Small Styles
@media (min-width: 576px) {
    #CampaignContainer {
    }
}

// Medium Styles
@media (min-width: 768px) {
    #CampaignContainer {
    }
}

// Large Styles
@media (min-width: 992px) {
    #CampaignContainer {
    }
}

// Extra Large Styles
@media (min-width: 1200px) {
    #CampaignContainer {
    }
}
