@import '_variables';

// Base Styles
@media (min-width: 0px) {
    .dashboard-container {
        .dashboard {
            .settings {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                background-color: $color-secondary;

                label {
                    margin-bottom: 0;
                    color: $color-tertiary-light-gray;
                }
            }

            .notification-date {
                color: $color-tertiary-gray;
                font-size: .75rem;
            }

            .notification-listing-container {
                height: 100%;

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 1rem 3rem 1rem 1rem;
                        cursor: pointer;
                        border-bottom: 2px solid $color-tertiary-light-gray;
                        position: relative;

                        &:last-child {
                            border-bottom: 0;
                        }

                        @media (min-width: 768px) {
                            &:hover {
                                background-color: $color-tertiary-light-gray;
                            }

                            &.selected {
                                color: $color-primary;
                            }
                        }



                        .unread-dot {
                            .fa-circle {
                                color: $color-primary;
                                font-size: .5rem;
                            }

                            position: absolute;
                            top: .5rem;
                            right: 1rem;
                        }
                    }
                }
            }

            .notification-view-container {
                height: 100%;

                > div {
                    padding: 1rem;
                }

                i {
                    float: right;
                    font-size: 1.5em;
                }

                h5 {
                    display: inline;
                }

                div {
                    &.header-container {
                        background-color: $color-tertiary-mid-gray;
                        border-bottom: 2px solid $color-tertiary-mid-gray;
                    }
                }

                @media (min-width: 768px) {
                    border-left: 2px solid $color-tertiary-mid-gray;

                    > div {
                        padding: 2rem 3rem;
                    }
                }
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

// Extra Large Styles
@media (min-width: 1200px) {
}
