@import '_variables';

// Base Styles
@media (min-width: 0px) {
    .error-container, .simple-container {
        font-weight: bold;
        text-align: center;

        .error-title, .simple-title {
            background-image: url('../images/medium_blue_background.jpg');
            color: $color-white;
            background-size: cover;
            font-size: 30px;
            padding: 1em 0 1em 0;
        }

        .error-detail, .simple-detail {
            font-size: 20px;
            padding: 3em 0 3em 0;

            a {
                color: $color-primary;
            }

            span {
                color: $color-tertiary-gray;
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

//Extra Large Styles
@media (min-width: 1200px) {
}
