@import '_variables';
/* Footer Styles */
footer {
    font-size: .8125rem;
    text-align: center;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
        }
    }

    .footer-top {
        background-color: $color-secondary;
        color: $color-white;
        padding: 2.625rem 0 1.125rem 0;

        .footer-header {
            color: $color-primary;
        }

        .footer-content {
            margin-top: 1.25rem;

            ul {

                li {
                    display: block;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }

                @media (min-width: 992px) {
                    li {
                        display: inline-block;
                        padding: 0 1rem;
                        border-right: 1px solid $color-white;
                    }
                }
            }

            .social-links {
                li {
                    font-size: 1rem;
                    padding-left: 1.5rem;
                    padding-right: 0;
                    border: 0;

                    &:first-child {
                        padding-left: 0;
                    }
                }

                @media (min-width: 0px) {
                    li {
                        display: inline-block;
                        padding-left: 1.5rem;
                    }
                }
            }

            .input-group-text {
                border: 0;
            }
        }
    }

    a {
        color: #fff;
        cursor: pointer;

        .fab {
            color: $color-white;

            &:hover {
                color: $color-tertiary-gray;
            }
        }
    }

    .footer-bottom {
        padding: 1.875rem 0;

        div[class^="col-"] {
            line-height: 1rem;
        }



        a {
            color: $color-primary;
            cursor: pointer;

            &:hover {
                color: $color-secondary;
            }

            .fab {
                color: $color-secondary;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }





    a:hover {
        color: #547eff;
        text-decoration: none;
    }

    .link-list {
        list-style: none;
        margin: 0;
        padding: 0;

        &.social {
            li {
                display: inline;
                margin-right: 10px;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .subheading {
        margin: 0 0 20px 0;
    }

    #FooterSubscribeForm {
        input {
            width: 100px;
        }
    }
}

@media (min-width: 0){
    footer{
        .container-align-right{
            text-align: center;
            margin-top:1rem;
        }
    }
}
@media (min-width: 768px){
    footer {
        text-align: left;
        .container-align-right {
            text-align: right;
            margin-top: 0;
        }
    }
}
