@import '_variables';
body {
    font-family: $opensans-regular;
    color: $color-secondary;
    padding-top: 6.375em;



    .section-heading {
        font-size: 1rem;
    }



    .hero-title {
        font-size: 2rem;
        font-family: $opensans-light;
    }

    .hero-bold {
        font-family: $opensans-bold;
    }

    .hero-description{
        margin-top: 1rem;
        font-size: 1.25rem;
    }

    .home-container {
        .btn{
            white-space: initial;
            margin: 1rem 0;
        }
        .home-hero-top{
            background-image: url('../images/circle-of-circles.png');
            background-position: bottom;
            background-size: cover; 
            padding: 5rem 0 10rem 0;
        }
        .home-hero-bottom{
            padding: 5rem 0;
            margin-top: -2px;
            background-color: $color-secondary;

            .home-hero-bottom-cta{
                > div{
                    > div{
                        margin-bottom: 1.5rem;
                        &:first-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .hero-container {
            text-align: center;

            > div {
                margin: 0 auto;
                margin-bottom: 1.5rem;
            }

            .hero-subtext {
                color: $color-tertiary-gray;
                line-height: 1.8rem;
            }

            .brand-button-heavy {
                font-size: 1.6rem;
            }
        }

        .hero-my-circle {
            width: inherit;
        }

        .home-hero {
            .home-hero-bottom {
                .hero-title-regular, .hero-description {
                    padding-bottom: 2.1875rem;
                }
            }
        }

        .course-categories {
            > div {
                margin-bottom: 2.5rem;
            }

            .input-group {
                input {
                    &:focus {
                        border: 1px solid $color-secondary-light;
                        box-shadow: none;
                    }
                }

                .input-group-text {
                    background-color: $color-white;

                    i {
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    .topic-hero-band {
        background-color: $color-secondary;
        padding: 4rem 0;
        color: $color-white;

        .hero-title {
            font-size: 3rem;
        }

        .hero-subtitle {
            font-size: 1rem;
        }

        .brand-button {
            margin-top: 2rem;
        }
    }
}

@media (min-width: 0px) {
    body {
        padding-top: 68.42px;
        .home-container { 

            .home-courses {
                margin-top: 2rem;

                .course-categories {
                    margin-top: 2rem;

                    .section-heading {
                        font-size: 2rem;
                    }

                    .career-training-header-container {
                        text-align: center;
                    }

                    > div {
                        margin-bottom: .5rem;
                    }

                    .card-column {
                        .card {
                            img {
                                height: auto;
                            }
                        }
                    }

                    .section-heading {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px){
    body {
        .home-container {
            .home-courses {
                .course-categories {
                    .card-column {
                        .card {
                            img {
                                height: 9.375rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    body {
        .section-heading {
            font-size: 1.5rem;
        }

        .home-container {
            .home-courses {
                .course-categories {
                    .section-heading {
                        font-size: 1.5rem;
                    }

                    .career-training-header-container {
                        
                        margin-bottom: 2rem;
                    }

                    .card-column {
                        .card {
                            img {
                                height: 8rem;
                            }
                        }
                    }

                    > div {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 6.375em;

        .home-container {
            .home-hero {
                background-image: url('../images/skyline_background.png');
                background-size: contain;
                background-position: top;

                .home-hero-top {
                    padding-top: 6rem;
                }

                .home-hero-bottom {
                    padding-top: 18rem;
                    padding-bottom: 6rem;
                }
            }

            .home-courses {
                margin-top: 0;
                margin-bottom: 7.5rem;

                .course-categories {
                    .section-heading {
                        font-size: 2rem;
                    }

                    .card-column {
                        .card {
                            img {
                                height: 12rem;
                            }
                        }
                    }

                    .career-training-header-container {
                        text-align: left;
                    }
                }
            }
        }

        .section-heading {
            font-size: 2.625rem;
        }

        nav {
            height: 6.375rem;


            .navbar-brand {
                margin: 0 1rem;
            }

            .brand-button-light {
                background-color: #fff;
                border-radius: 1rem;
                border: 1px solid $color-secondary;
                padding: .5rem 1.75rem;
            }

            .navbar-nav {
                li {
                    padding: .5rem .5rem .5rem .5rem;

                    &.nav-link-right {
                        border-left: 1px solid $color-secondary-light;
                        padding-left: 1.2rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px){
    body {
        nav {
            &.navbar-light {
                .navbar-nav {
                    li {
                        margin-right: 1rem;
                    }
                }
            }
        }

        .home-container {
            .home-courses {
                .course-categories {
                    .card-column {
                        .card {
                            img {
                                height: 14rem;
                            }
                        }
                    }
                }
            }
        }
    }
}



