@import '_variables';

// Base Styles
@media (min-width: 0px) {
    .job-details-hero-band,
    .job-application-hero-band,
    .job-application-finish-hero-band{
        
        background-size: cover;
        padding: 10rem;
        position: relative;
        z-index: -1;

        &:after {
            content: "";
            position: absolute;
            background-image: linear-gradient(transparent, #fff);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .job-details-hero-band {
        background-position: center;
        background-image: url("/images/AdobeStock_220264462.jpg");
    }
    .job-application-hero-band {
        background-position: center;
        background-image: url("/images/AdobeStock_208921640.jpg");
    }
    .job-application-finish-hero-band {
        &.Success {
            background-position: top;
            background-image: url("/images/AdobeStock_113261535.jpg");
        }

        &.Failed {
            background-position: center;
            background-image: url("/images/AdobeStock_189186643.jpg");
        }
    }
    .job-details-container {
        margin-bottom: 6rem;
        margin-top: -8rem;

        .fit-to-text {
            display: block;

            @media (min-width: 576px) {
                display: inline-block;
            }
        }

        h1 {
            font-size: 1.75rem;

            @media (min-width: 768px) {
                font-size: 2.5rem;
            }
        }

        .cc-content-band {
            padding: 0 1rem;

            .col-12 {
                padding: 0;
            }

            .job-details {
                i {
                    margin-right: 1rem;
                }
            }

            .cc-content-band-content {
                padding: 2rem 1rem;
                > .row {
                    > div {
                        margin-bottom: 0;
                    }
                }

                .job-description-container {
                    padding: 2rem 0rem;

                    > div {
                        padding: 0;
                    }

                    > div:first-child {
                        border-top: 2px solid $color-secondary;
                    }
                }
            }
        }
    }

    .modal input {
        border: 1px solid #03264A !important;
    }
    .openEmailModal {
        .modal-dialog {
            .modal-content {
                background-color: $color-alabaster;

                .modal-body {
                    .emailModalBodyHeadings {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

// Extra Large Styles
@media (min-width: 1200px) {
}
