@import '_variables';

//Base styles
@media (min-width:0px) {

    .job-alert-footer {
        text-align: right;
        margin-top: 1rem;

        > button {
            margin-left: 1rem;
        }
    }

    .company-logo {
        text-align: center;
        font-size: 20px;
    }

    .job-alert-modal {
        min-width: 300px;
        max-width: 500px;
        color: $color-secondary;

        .job-alert-header {
            border-bottom: 1px solid $color-secondary;
            margin-bottom: 1rem;
            text-align: center;
        }

        .edit-option {
            position: relative;
            border: 1px solid $color-secondary;
            border-radius: .5rem;
            margin-top: 2rem;
        }

        .input-label {
            position: absolute;
            top: -8px;
            left: 1rem;
            background-color: #fff;
            color: $color-secondary;
            font-size: 0.75rem;
            padding: 0 .5rem;
        }

        .edit-input {
            padding-top: 2px;

            select {
                border: 0;
                border-radius: 0.5rem;
                overflow: visible !important;
                text-transform: none;
                margin: 0;
            }

            textarea {
                color: $color-secondary;
                resize: none;
                width: 100%;
                border: 0;
                overflow: visible !important;
                margin: 0;
                outline: none;
                padding: .5rem;
                border-radius: .5rem;
            }
        }

        .form-control {
            border: 1px solid #ccc;
        }

        .control-error {
            border: 3px solid red;
        }

        flex-direction: column;
        width: 100%;
        border: none;
        display: flex;
        position: relative;
    }

    .browse-jobs-body-container {
        background-color: $color-tertiary-light-gray;

        .job-search-container {
            .job-search-criteria {
                .job-search-block {
                    text-align: center;

                    .row {
                        > div {
                            margin-bottom: 1rem;

                            @media (min-width: 992px) {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .job-search-header-text {
                        @media (min-width: 992px) {
                            text-align: left;
                        }
                    }

                    .job-search-button {
                        margin: 0;
                        text-align: center;

                        @media (min-width: 992px) {
                            text-align: right;
                        }
                    }
                }
            }
        }

        .browse-jobs-search {
            padding: 3rem 0;
            background-color: $color-secondary;
            position: relative;

            .or-container {
                position: absolute;
                background-color: $color-tertiary-light-gray;
                padding: .5rem;
                border-radius: 3rem;
                left: 50%;
                transform: translateX(-50%);
                bottom: -1.75rem;

                .or-inner-box {
                    background-color: $color-white;
                    padding: .5rem 1rem;
                    border-radius: 2rem;

                    h4 {
                        margin: 0;
                    }
                }
            }
        }

        .browse-jobs-container {
            padding: 0 0 3rem 0;

            > .row {
                padding-top: 1rem;
            }

            .job-type-listing {
                margin: .5rem;
                transition: box-shadow 0.1s ease-in-out;
                border-top-left-radius: .5rem;
                border-bottom-right-radius: 1rem;
                background-color: $color-white;
                margin-bottom: 1rem;

                a {
                    color: $color-secondary;
                }

                &:hover {
                    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                }

                .row {
                    > div {
                        padding: .5rem;
                    }
                }
                

                .col-3 {
                    background-color: $color-primary;
                    color: $color-white;
                    border-bottom-right-radius: .5rem;
                }
            }
        }

        nav {
            text-transform: none;
            height: initial;
            border: 0;

            ul {
                margin: 0;

                .page-item.active {

                    span {
                        background-color: $color-secondary;
                        border-color: $color-secondary;
                        cursor: default;
                    }
                }

                .page-link {
                    color: $color-secondary;
                }
            }
        }
    }

    .job-search-container {
        font-family: $opensans-regular;

        .job-search-criteria {
            background-color: $color-secondary;
            color: $color-white;
            position: relative;

            .job-search-block {
                padding-top: $rem-24;
                padding-bottom: $rem-24;

                .job-search-header {
                    margin: $rem-16;
                    text-align: center;
                    display: block;
                }

                .job-search-content {
                    margin: $rem-16;
                    text-align: center;
                    display: block;
                }

                .job-search-button {
                    margin: $rem-16;
                    text-align: center;
                    display: block;

                    > div {
                        display: inline-block;
                    }

                    #SearchJobs, #CreateAlert {
                        background-color: $color-tertiary;
                    }
                }
            }
        }

        .job-search-results {
            background-color: $color-alabaster;
            padding-top: $rem-24;
            padding-bottom: $rem-24;

            .facet-container {
                background-color: $color-white;


                a {
                    color: $color-secondary-light;
                    font-size: 20px;
                }

                a:hover {
                    color: $color-anchor-hover;
                }

                .moreLink {
                    display: none;
                }

                .facets-style {
                    box-sizing: border-box;
                    padding: 10px 0px 10px 0px;
                }

                .facet-header {
                    font-size: 15px;
                    font-weight: bold;
                }

                .facet-link, .facet-link a {
                    font-size: 12px;
                }

                .moreLink-style {
                    font-size: 12px;
                }

                #SearchParameters.in,
                #SearchParameters.collapsing {
                    display: block !important;
                }

                .city {
                    display: none;
                }

                i {
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    font-size: 8px;
                }

                .up {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                }

                .down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }

            .togglelink {
                float: right !important;
                font-size: 14px;
                color: white;
                font-weight: bold;
                background-color: #03264A;
                border: 0.125rem solid #03264A;
            }

            .job-container {
                .job-tile {
                    background-color: $color-white;
                    margin: $rem-13;
                    padding: $rem-13;

                    .job-tile-more-info {
                        font-size: $rem-14;
                        color: $color-anchor-hover;
                    }

                    .job-tile-more-info:hover {
                        text-decoration: underline;
                    }

                    a {
                        color: $color-secondary-light;
                        font-size: 20px;
                    }

                    a:hover {
                        color: $color-anchor-hover;
                    }

                    span.favorites-label:hover {
                        color: $color-anchor-hover;
                    
                    } 

                .job-location {
                    font-size: $rem-14;
                    color: $color-tertiary;
                }

                .job-post-date {
                    font-size: $rem-14;
                    color: $color-silver-chalice;
                }

                .job-description {
                    font-size: $rem-16;
                    color: $color-emperor;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .favorite-job-checkbox {
                    font-size: $rem-14;
                }
            }

            .no-job-text {
                font-size: $rem-16;
                margin: $rem-16;
            }
        }

        .job-pagination {
            display: block;

            .pagination-container {
                display: inline-block;

                .page-link {
                    color: $color-secondary;
                }

                .page-item {
                    &.active {
                        .page-link {
                            border-color: $color-secondary;
                            background-color: $color-secondary;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
    .togglelink {
        display: none;
    }

    .city {
        display: block !important;
    }
}

// Large Styles
@media (min-width: 992px) {
    .togglelink {
        display: none;
    }

    .city {
        display: block !important;
    }
}

// Extra Large Styles
@media (min-width: 1200px) {
    .togglelink {
        display: none;
    }

    .city {
        display: block !important;
    }
}
