@import '_variables';
body {
    nav {
        text-transform: uppercase;
        border-bottom: 1px solid $color-secondary-light;

        a {
            cursor: pointer;
        }

        .navbar-brand {
            margin: 0;
        }

        &.navbar-light {
            .navbar-nav {

                .nav-link {
                    color: $color-secondary;
                    font-size: $rem-13;
                    font-weight: bold;

                    &.temp-profile-link {
                        cursor: default;

                        &:hover {
                            color: #03264A;
                        }
                    }
                }
            }
        }

        .nav-notifications {
            .notification-count {


                &.has-notifications {
                    background-color: $color-red;
                    border-radius: 50%;
                    display: inline-block;
                    min-width: 1rem;
                    text-align: center;
                    color: #fff;
                    font-size: .5rem;
                    height: 1rem;
                    line-height: .5rem;
                    padding: .25rem;
                    margin-left: .25rem;
                    font-weight: bold;
                }
            }
        }
    }
}

.rebate-alert {
    .link-wrapper {
       a { text-decoration: underline;}
    }

}
    

@media (min-width: 0px) {
    body {
        .navbar-brand {
            img {
                width: 6rem;
            }
        }

        .hero-home-bottom-details {
            text-align: center;
        }
    }
}

@media (min-width: 992px) {
    body {
        .hero-home-bottom-details{
            text-align: left;
        }
    }
}

@media (min-width: 1200px) {
    body {
        .navbar-brand {
            img {
                width: 9rem;
            }
        }
    }
}
