@import '_variables';
body {
    nav {
        text-transform: uppercase;
        border-bottom: 1px solid $color-secondary-light;

        a {
            cursor: pointer;
        }

        .navbar-brand {
            margin: 0;
        }

        &.navbar-light {
            .navbar-nav {
                text-align: left;
                .nav-link {
                    color: $color-secondary;
                    font-size: $rem-13;
                    font-weight: bold;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;

                    &.temp-profile-link {
                        cursor: default;

                        &:hover {
                            color: #03264A;
                        }
                    }

                    &.nav-notifications {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .nav-notifications {
            position: relative;

            .notification-count {


                &.has-notifications {
                    background-color: $color-red;
                    border-radius: 50%;
                    display: inline-block;
                    min-width: 1rem;
                    text-align: center;
                    color: #fff;
                    font-size: .5rem;
                    height: 1rem;
                    line-height: .5rem;
                    padding: .25rem;
                    margin-left: .25rem;
                    font-weight: bold;
                    position: absolute;
                    left: -.75rem;
                    bottom: 0rem;

                    @media (min-width: 992px) {
                        left: -.25rem;
                        bottom: 0rem;
                    }
                }
            }
        }
    }
}

.rebate-alert {
    .link-wrapper {
       a { text-decoration: underline;}
    }

}
    

@media (min-width: 0px) {
    body {
        .navbar-brand {
            img {
                width: 6rem;
            }
        }

        .hero-home-bottom-details {
            text-align: center;
        }

        .navbar.cc-navbar {
            .dropdown {
                &.show {
                    .dropdown-toggle {
                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                }

                .dropdown-item {
                    text-transform: capitalize;
                    border-radius: 0;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    body {
        .hero-home-bottom-details {
            text-align: left;
        }

        nav {
            height: 6.375rem;


            .navbar-brand {
                margin: 0 1rem;
            }

            .brand-button-light {
                background-color: #fff;
                border-radius: 1rem;
                border: 1px solid $color-secondary;
                padding: .5rem 1.75rem;
            }

            .navbar-nav {
                li {
                    padding: .5rem .5rem .5rem .5rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    body {
        .navbar-brand {
            img {
                width: 9rem;
            }
        }

        nav {
            &.navbar-light {
                .navbar-nav {
                    li {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
