@import '_variables';

@media (min-width: 0px){
    .similar-jobs-container {
        .similar-jobs {
            .similar-jobs-list {
                > div {
                    padding: 1rem 0;
                    border-bottom: 2px solid $color-tertiary-mid-gray;

                    &:last-child {
                        border-bottom: 0;
                    }


                    @media (min-width: 768px) {
                        &:nth-child(odd) {
                            border-right: 2px solid $color-tertiary-mid-gray;
                        }

                        &:nth-child(even) {
                            padding-left: 1rem;
                        }

                        &:nth-last-child(-n+2) {
                            border-bottom: 0;
                        }

                        &.odd-n-second-to-last {
                            border-bottom: 2px solid $color-tertiary-mid-gray;
                        }
                    }

                    @media (min-width: 1200px) {
                        &:nth-child(odd) {
                            border-right: 0;
                        }

                        &:nth-child(even) {
                            padding-left: 0;
                        }

                        &:nth-last-child(2) {
                            border-bottom: 2px solid $color-tertiary-mid-gray;
                        }
                    }
                }

                .similar-jobs-location {
                    padding-top: .5rem;
                    font-size: .75rem;
                    color: $color-primary;
                }
            }

            .all-similar-jobs {



                a {
                    color: $color-secondary;

                    &:hover {
                        color: $color-tertiary;
                    }
                }
            }
        }
    }

}