@import '_variables';

// Base Styles
@media (min-width: 0px) {
    .cc-traitify {
        position: relative;
        padding-top: 2rem;
        padding-bottom: 4rem;
        background-size: cover;
        background-position: top;

        .cc-traitify-header {
            font-size: 2rem;
            text-align: center;
        }

        .cc-traitify-content {
            padding-top: 2rem;

            img {
                width: 100%;
            }

            >.row {
                >div {
                    margin-bottom: 2rem;
                }
            }

            .traitify-signup-form {
                background-color: white;
            }
        }

        .traitify-hero-container {
            p {
                font-size: 1.5rem;
            }
        }

        .traitify-form-container {
            .sub-header {
                font-size: 1.5rem;
                line-height: 2rem;
                margin-bottom: .25rem;
            }

            .mini-header {
                margin-bottom: 1.25rem;
                font-size: .9rem;
            }

        }

    }

    .traitify-assessment-container {
        padding: 0 20px;
        width: 83.3333333333%;
        position: relative;
        left: 8.3333333333%;

        .traitify-header {
            padding: 25px;
            font-size: 1.5rem;
        }

        .traitify-result-container {
            margin: 2rem;
        }

    }

    .traitify-signup-container {
        color: $color-white;
        position: relative;
        margin-bottom: 2rem;
        background-repeat: no-repeat;
        background-position: top;
        position: relative;
        background-color: $color-secondary;

        .sub-header {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: .25rem;
        }

        .mini-header {
            margin-bottom: 1.25rem;
            font-size: .9rem;
        }

        .traitify-signup-band-right {
            .traitify-signup-form {
                text-align: center;
                background-color: $color-secondary !important;
            }
        }

        .traitify-signup-band-left {
            padding: 3rem;
        }

        #SignUpComponent {
            .form-check {
                .form-check-label {
                    line-height: 1.3em;
                }
            }

            .sign-up-input {
                margin-bottom: 1rem;

                .wide-input {
                    border-radius: .25rem;
                    width: 100%;
                    padding: .5rem;
                    padding-left: 1.5rem;
                    font-size: .8rem;
                    border: none;
                }

                input {

                    &.form-check-input {
                        top: .2em;
                        margin-top: 0;
                    }

                    &:focus {
                        outline: none;
                    }

                    &.invalid {
                        border: 2px solid $color-red;

                        &.form-check-input {
                            outline: 1.5px solid $color-red;
                        }
                    }
                }
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {}

// Small Styles
@media (min-width: 576px) {}

// Medium Styles
@media (min-width: 768px) {}

// Large Styles
@media (min-width: 992px) {
    .cc-traitify-band {
        padding: 6rem 2rem;

        .cc-traitify-band-header {
            font-size: 2.5rem;
        }
    }
}