@import '_variables';

@media(min-width:0px) {
    .map-point#MD{
        right: 17%;
        top: 34%;
    }

    .map-point#NJ{
        right: 13.5%;
        top: 30%;
    }

    .map-point#VA{
        right: 19%;
        top: 44%;
    }

    .map-point#SC{
        right: 21%;
        top: 58%;
    }

    .map-point#NC{
        right: 17%;
        top: 53%;
    }

    .map-point#MD{
        right: 14%;
        top: 38%;
    }

    .map-point#NY{
        right: 16%;
        top: 32%;
    }

    .map-point#GA{
        right: 26%;
        top: 63%;
    }

    .map-point#FL{
        right: 20%;
        top: 81%;
    }

    .map-point#AL{
        right: 38%;
        top: 66%;
    }

    .map-point#MS{
        right: 32%;
        top: 66%;
    }

    .map-point#LA{
        right: 42%;
        top: 71%;
    }

    .map-point#AR{
        right: 44%;
        top: 58%;
    }

    .map-point#TN{
        right: 31%;
        top: 54%;
    }

    .map-point#MO{
        right: 44%;
        top: 44%;
    }

    .map-point#TX{
        right: 55%;
        top: 73%;
    }

    .map-point#OK{
        right: 52%;
        top: 55%;
    }

    .map-point#KS{
        right: 54%;
        top: 45%;
    }

    .map-point#NE{
        right: 55%;
        top: 36%;
    }

    .map-point#SD{
        right: 57%;
        top: 27%;
    }

    .map-point#ND{
        right: 57%;
        top: 15%;
    }

    .map-point#MN{
        right: 48%;
        top: 17%;
    }

    .map-point#IN{
        right: 46%;
        top: 30%;
    }

    .map-point#IL{
        right: 37%;
        top: 40%;
    }

    .map-point#WI{
        right: 39%;
        top: 24%;
    }

    .map-point#MI{
        right: 31%;
        top: 26%;
    }

    .map-point#OH{
        right: 26%;
        top: 38%;
    }

    .map-point#IA{
        right: 32%;
        top: 40%;
    }

    .map-point#KY{
        right: 28%;
        top: 48%;
    }

    .map-point#WI{
        right: 39%;
        top: 24%;
    }

    .map-point#WVA{
        right: 24%;
        top: 38%;
    }

    .map-point#PA{
        right: 17%;
        top: 32%;
    }

    .map-point#DE{
        right: 12%;
        top: 33%;
    }

    .map-point#CT{
        right: 9.5%;
        top: 27%;
    }

    .map-point#RI{
        right: 7.5%;
        top: 26%;
    }

    .map-point#ME{
        right: 6%;
        top: 12%;
    }

    .map-point#MA{
        right: 9%;
        top: 24%;
    }

    .map-point#VT{
        right: 12.5%;
        top: 19%;
    }

    .map-point#NH{
        right: 9%;
        top: 19%;
    }


    .map-point#NM{
        right: 70%;
        top: 56%;
    }


    .map-point#CO{
        right: 67%;
        top: 40%;
    }

    .map-point#WY{
        right: 69%;
        top: 28%;
    }


    .map-point#MT{
        right: 68%;
        top: 9%;
    }
    

    .map-point#ID{
        right: 81%;
        top: 18%;
    }

    .map-point#UT{
        right: 78%;
        top: 39%;
    }

    .map-point#AZ{
        right: 79%;
        top: 54%;
    }

    .map-point#NV{
        right: 87%;
        top: 33%;
    }

    .map-point#WA{
        right: 90%;
        top: 19%;
    }

    .map-point#OR{
        right: 90%;
        top: 19%;
    }

    .map-point#CA{
        right: 94%;
        top: 44%;
    }

    .map-point#WA{
        right: 89%;
        top: 6%;
    }

    .map-point#NY{
        right: 14%;
        top: 23%;
    }


    .map-point {
        display: none;
        position: absolute;

        color: $color-primary;
 
        .map-point-count {
            font-family:$opensans-regular;
            color:$color-tree-poppy !important;
            position: relative;
            right:-55%;
            top:-32px;

        }
      
      
    }

    .usmap {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}