$rem-1: .0625rem;
$rem-2: .125rem;
$rem-3: .1875rem;
$rem-4: .25rem;
$rem-5: .3125rem;
$rem-6: .375rem;
$rem-7: .4375rem;
$rem-8: .5rem;
$rem-9: .5625rem;
$rem-10: .625rem;
$rem-11: .6875rem;
$rem-12: .75rem;
$rem-13: .8125rem;
$rem-14: .875rem;
$rem-15: .9375rem;

$color-primary: #4089A0;
$color-secondary: #03264A;
$color-secondary-light: #03264A;
$color-tertiary: #84A550;
$color-tertiary-gray: #808080;
$color-tertiary-light-gray: #F3F3F3;
$color-white: #fff;
$color-black: #000;

$opensans-bold: 'OpenSans-Bold';
$opensans-regular: 'OpenSans-Regular';
$opensans-light: 'OpenSans-Light';

$fa-font-path: "../webfonts";