$rem-1: .0625rem;
$rem-2: .125rem;
$rem-3: .1875rem;
$rem-4: .25rem;
$rem-5: .3125rem;
$rem-6: .375rem;
$rem-7: .4375rem;
$rem-8: .5rem;
$rem-9: .5625rem;
$rem-10: .625rem;
$rem-11: .6875rem;
$rem-12: .75rem;
$rem-13: .8125rem;
$rem-14: .875rem;
$rem-15: .9375rem;
$rem-16: 1.0rem;
$rem-17: 1.0625rem;
$rem-18: 1.125rem;
$rem-19: 1.1875rem;
$rem-20: 1.25rem;
$rem-21: 1.3125rem;
$rem-22: 1.375rem;
$rem-23: 1.4375rem;
$rem-24: 1.5rem;

$color-primary: #4089A0;
$color-secondary: #03264A;
$color-secondary-dark: #011b32; 
$color-secondary-light: #03264A;
$color-tertiary: #84A550;
$color-tertiary-gray: #808080;
$color-tertiary-mid-gray: #E1E1E1;
$color-tertiary-light-gray: #F3F3F3;
$color-white: #fff;
$color-black: #000;
$color-red: #C32827;
$color-darkred: #A6241C;
$color-alabaster:#FAFAFA;
$color-tree-poppy:#F8971D;
$color-silver-chalice:#B2B2B2;
$color-emperor:#505050;
$color-my-sin:#ffb612;
$color-anchor-hover: #0195D3;

$opensans-bold: 'OpenSans-Bold';
$opensans-regular: 'OpenSans-Regular';
$opensans-light: 'OpenSans-Light';

$fa-font-path: "../webfonts";