@{
    ViewData["Title"] = "Training";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>



<p><a asp-area="" asp-controller="Enroll"asp-action="Index" >Enroll</a></p>
