@{
    Layout = "_SimpleLayout";
}

<div class="simple-container">
    <div class="row">
        <div class="col-md-12 simple-detail">
          Thanks for contacting us, your message has been received!
        </div>
    </div>
</div>