@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<p>This is an Azure AD B2C hosted page with a template stored on the Digital site.</p>

<p>
    to collect: Username, password with Submit 'login' button
</p>
<p>
    Forgot Password link and create  account / sign up function
</p>