
<div class="countdown-wrapper">
    <div class="outerCircle"></div>
    <div class="innerCircle"></div>
    <div class="center"></div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var count = 5;
            /*
            var timer = setInterval(function () {
                if (count <= 0) {
                    window.location = "/Home/Profile";
                    clearInterval(timer);
                    return;
                }
                count -= 1;
                console.log(count);
                $('#count').text(count);
            }, 1000);
            */
        });
    </script>
}