@using UpDiddy.ViewModels 
@model TraitifyViewModel
<div class="traitify-signup-confirm-container">
	<div id="row justify-content-start" >
		<div class="col-4">
			<p>Join CareerCircle to Get Full Results</p>
		</div>
		<div class="col-4">
			<form id="SignupForm" asp-controller="traitify" asp-action="createaccount" >
				<div id="SignUpPassword" >
					<input class="wide-input" placeholder="Password" type="password" form="SignupForm" name="Password" asp-for="Password" required />
				</div>
				<div id="SignUpPasswordRetype">
					<input class="wide-input" placeholder="Re-enter password" type="password" form="SignupForm" name="ReenterPassword" asp-for="ReenterPassword" required />
				</div>
				<div>
					<input type="checkbox"  id="termsAndConditionsCheck" value="agree" required>
					<label  for="termsAndConditionsCheck">I agree to become a member of career circle  and we will email you the results </label>
				</div>
				<div id="SignUpAction" class="col-12 no-padding">
					@Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
					Text =  "Confirm Signup" ,
					SkewDirection = "skew-left-to-right",
					ChosenColorScheme = "cc-cscheme-darkred",
					Form = "SignupForm",
					ButtonAction = ActionButtonViewModel.Action.SUBMIT
					})
				</div>  		
				@Html.HiddenFor(x => x.AssessmentId)
			</form>
		</div>	
	</div>
</div>