@using UpDiddy.ViewModels
@model TraitifyViewModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.traitify.com/js/v2/traitify.js"></script>
<script>
   class Traitify {
       constructor(model, traitify)
       {
           this.model = model;
           this.traitify = traitify;
           this.initialize();
       }
   
       initialize()
       {
           var assessmentId = this.model.assessmentId;
           this.traitify.setHost(this.model.host);
           this.traitify.setPublicKey(this.model.publicKey);
           var assessment = this.traitify.ui.component(); 
           assessment.on("SlideDeck.Finished", function(){
                 $.ajax({
                             url: '/Traitify/complete',
                             type: 'GET',
                             dataType: 'json',
                             data: {
                                 assessmentId: assessmentId
                             },
                             error: function () {
                                 console.log("failed");
                             },
                             success: function (results) {
                                   $("assessmentContainer").hide();
                                   $("#successContainer").show();
                             }
                           });    
                         });
           assessment.assessmentID("@Model.AssessmentId");
           assessment.allowFullscreen();
           assessment.target("#traitify");
           assessment.render("SlideDeck");
       }
   
       setUrl()
       {
           var newurl = window.location.protocol + "//" + window.location.host + "/traitify/" + assessmentId;
           window.history.pushState({ path: newurl }, '', newurl);
       }
   }
   
   window.onload = function () {
   var model = @Html.Raw(Json.Serialize(@Model));
   var traitify = new Traitify(model, this.Traitify);
   traitify.initialize();
   }
</script>
<div class="traitify-assessment-container p-5" id="assessmentContainer">
   <div id="traitify"></div>
</div>
<div class="traitify-success-container p-5" id="successContainer" hidden>
   <h1>Thank you for completing the assessment. Your results will be emailed to you. </h1>
</div>
