@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model UpDiddy.ViewModels.SalesForceSignUpListViewModel

<div id="CampaignContainer" class="mom-project-signup">
    <div class="cc-campaign-sign-up-band row" style="background-image: url('/images/AdobeStock_259779356.jpg'); background-position: top;background-size: cover ">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-8 cc-campaign-sign-up-band-left-container  d-flex align-items-center">
                        <div class="row">
                            <div class="col no-padding">
                                <div class="row">
                                    <div class="col-12 no-padding">
                                        <div class="row">
                                            <div class="col-12 hero-header font-bold">
                                                Sign up for the waitlist to be eligible for this opportunity</span>
                                            </div>        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 cc-campaign-sign-up-band-right-container no-padding">
                        <div class="cc-campaign-sign-up-container">
                            <div class="row">
                                <div class="col-12 no-padding sub-header font-bold">
                                    Join the waitlist!
                                </div>
                                <div class="col-12 no-padding mini-header">
                                    Enter your information to be contacted
                                </div>
                                <div class="col-12 no-padding">
                                    @Html.Partial("Partials/_Signup")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(ContentBandViewModel.VIEW_FILE, new ContentBandViewModel()
    {
        Header = "At CareerCircle, our focus is you!",
        Elements = new List<string>()
        {
            @"<div class='row'>
                <div class='col-lg-8 offset-lg-2'>
                  <p>Learn the fundamentals of being a Salesforce Admin – in just 30 days! The Salesforce Proficiency Pack for Administrators is a blended, prescriptive, expert-led training program that gives you a 30-day plan to learn what you need to be an awesome Salesforce Administrator, and fast tracks you to the Salesforce Certified Administrator certification. The program is a mix of engaging bite-sized Trailhead content and live coaching from Salesforce Certified instructors. Twice a week, you will have the opportunity to tune in and review each week’s learning with your instructor and the chance for Q&A with fellow students. The program includes a certification practice exam voucher and a voucher to sit for the Salesforce Certified Administrator exam.</p>
                  <p>CareerCircle is your digital community focused on helping you take the next steps toward reaching your career goals! They are passionate about connecting you with the necessary skills you need for the career you deserve. </p>  
                </div>
            </div>
            "
        }
    })
</div>



