@using UpDiddy.ViewModels

<div class="job-details-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-content-box">
                    <h1 class="job-name">
                        Software Engineer
                    </h1>
                    <div class="job-details">
                        <div class="job-company">Aerotek</div>
                        <div class="job-posted-date">Posted: 04/22/2019</div>
                    </div>
                    <div class="apply-button container-align-right">
                        @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                Text = "Apply <i class=\"fas fa-arrow-right\"></i>",
                                Hyperlink = "#",
                                FitToText = true,
                                ChosenColorScheme = "cc-cscheme-white",
                                ButtonAction = ActionButtonViewModel.Action.CTA
                            })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>