@using UpDiddy.ViewModels
@model JobDetailsViewModel

<div class="job-details-hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-content-box">
                    <h1 class="job-name pb-3">
                        @Model.Name
                    </h1>
                    <div class="job-details mb-3">
                        <div class="job-company"><i class="far fa-building"></i> @Model.Company</div>
                        <div class="job-posted-date"><i class="fas fa-clock"></i> @Model.PostedDate</div>
                    </div>
                    <div class="apply-button container-align-right">
                        @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                Text = "Apply <i class=\"fas fa-arrow-right\"></i>",
                                Hyperlink = "#",
                                FitToText = true,
                                ChosenColorScheme = "cc-cscheme-white",
                                ButtonAction = ActionButtonViewModel.Action.CTA
                            })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>