@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using UpDiddyLib.Helpers
@using System.Security.Claims;
@using React.AspNet;
@model JobDetailsViewModel

<div class="similar-jobs">
    <h4>Similar Jobs</h4>
    <div class="row similar-jobs-list">
        <div class="col-12 no-padding">
            <div>Tester</div>
            <div class="similar-jobs-location"><i class="fas fa-map-marker-alt"></i> Columbia, MD</div>
        </div>
        <div class="col-12 no-padding">
            <div>Programmer With A Longer Title</div>
            <div class="similar-jobs-location"><i class="fas fa-map-marker-alt"></i> Baltimore, MD</div>
        </div>
        <div class="col-12 no-padding">
            <div>Scrum Master</div>
            <div class="similar-jobs-location"><i class="fas fa-map-marker-alt"></i> O'Fennel, MD</div>
        </div>
        <div class="col-12 no-padding">
            <div>SQL DBA</div>
            <div class="similar-jobs-location"><i class="fas fa-map-marker-alt"></i> Germantown, MD</div>
        </div>
    </div>
    <div class="all-similar-jobs pt-3 mt-3">
        <a href="/">All similar jobs</a>
    </div>
</div>
