


<div id="AdminContainer" class="container-fluid bg-color-primary">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <ul class="nav nav-admin">
                    <li class="admin-nav-dashboard nav-link">
                        <a class="text-white" href="/Admin/Dashboard">Dashboard</a>
                    </li>
                    <li class="admin-nav-skills nav-link">
                        <a class="text-white" href="/Admin/Skills">Skills</a>
                    </li>
                    <li class="admin-nav-clear-cms-cache nav-link" href="#">
                        <a class="text-white" href="/admin/clearcmscache">Clear CMS Cache</a>
                    </li>
                    <li class="admin-nav-job-scrape-stats nav-link" href="#">
                        <a class="text-white" href="/admin/jobscrapestats">Job Scrape Statistics</a>
                    </li>
                    <li class="admin-nav-partners nav-link" href="#">
                        <a class="text-white" href="/admin/partners">Partners</a>
                    </li>
                    <li class="admin-nav-notifications nav-link" href="#">
                        <a class="text-white" href="/admin/notifications">Notifications</a>
                    </li>
                    <li class="admin-nav-companies nav-link" href="#">
                        <a class="text-white" href="/admin/companies">Companies</a>
                    </li>
                    <li class="admin-nav-companies nav-link" href="#">
                        <a class="text-white" href="/admin/recruiters">Recruiters</a>
                    </li>
                    <li class="admin-nav-companies nav-link" href="#">
                        <a class="text-white" href="/admin/coursesites">Course Sites</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
