@using React.AspNet;
@using UpDiddy.ViewModels
@model BrowseJobsViewModel

<div class="container">
    <div class="row">
        <div class="col-12">

            @foreach (BrowseJobsByTypeViewModel bjbtvm in Model.ViewModels)
            {
                @Html.React("BrowseJobs", new { list = bjbtvm.Items, header = bjbtvm.Header });

            }
        </div>
    </div>
</div>
