@using React.AspNet;
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model BrowseJobsLocationViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            @{ 
                string ReactComponent = Enum.GetName(typeof(BrowseJobsLocationViewModel.ReactComponent), Model.Component);
            }
            @Html.React("BrowseJobsByLocation" , new { list = Model.Locations, type = ReactComponent})
        </div>
    </div>
</div>
