@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddy.ViewModels.ButterCMS
@using UpDiddyLib.Dto

@model TopicsLandingPageViewModel





<div class="topics-container">
    <div class="topics-hero-container">
        @Html.Partial(ContentBandViewModel.VIEW_FILE, new ContentBandViewModel()
        {
            BackgroundImage = Model.HeroImage,
            Elements = new List<string>()
            {
                "",
                "<h1><strong>" + Model.HeroHeader + "</strong></h1><br /><p>" + Html.Raw(Model.HeroDescription) + "</p>"
            }
        })
    </div>



    <div class="topics-courses pt-3 pb-1" id="career-training-categories">
      
        <div class="container">
            <div class="row">
                @foreach (TrainingTopicViewModel topic in Model.TrainingTopics)
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pb-1 card-column">

                        <div class="pt-2 card">
                            <a class="card-hyperlink-container" href="@(topic.Url)">
                                <img class="card-img-top"  src="@topic.Image" alt="Card image cap">
                            </a>
                            <div class="card-body">
                               @topic.Description
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>




    </div>
</div>