@*
    This is a template for a responsive, two-column component
    that contains a simple header/description, as well as
    a video.

    ***Instructions***

    Simply copy the contents of this component below, and paste
    it into the html page you wish to use it. The styles will
    automatically be reflected on the page, and you only need
    to populate the text sections, as indicated below.

    ***Customization Options***

    You can change the "cc-cscheme-secondary" class on the root div
    below to change the color scheme of the band (other options
    include cc-cscheme-white and cc-cscheme-primary).
*@

@*
    This component was copied from: /Shared/Components/Templates/_TextWithVideoBand.cshtml
*@
<div class="cc-text-video-band cc-cscheme-secondary row">
    <div class="col-12">
        <div class="container no-padding">
            <div class="row">
                <div class="col-12 col-lg-6 cc-text-video-band-left-column no-padding">
                    <div class="cc-text-video-band-verbiage-container d-flex align-items-center">
                        <div class="row">
                            <div class="col-12 cc-text-video-band-header font-bold">
                                @* Place the header for the band here. *@
                            </div>
                            <div class="col-12 cc-text-video-band-description">
                                <div>@* Place the description for the band here. *@</div>
                                <div>@* Place another paragraph of the description here. *@</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 cc-text-video-band-right-column">
                    <div class="career-circle-video-container d-flex align-items-center">
                        <div class="row">
                            <div class="col-12 no-padding">
                                @* Replace the source of the video below with your new video. *@
                                <video class="embed-responsive embed-responsive-16by9"
                                       src=""
                                       controls
                                       frameborder="0"
                                       allowfullscreen
                                       asp-append-version="true"></video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>