@model UpDiddy.ViewModels.ButterCMS.ServicesPageViewModel

<div class="services-container">
    <div class="services-hero-container" style="background-image: url('https://cdn.buttercms.com/FIxxkTnERRyOu8RaAITt')">
        <div class="container">
            <div class="row container-align-center">
                <div class="col-12 d-none d-lg-block hero-content-desktop">
                    <h1>@Model.HeroTitle</h1>
                    @Html.Raw(Model.HeroContent)
                </div>
            </div>
        </div>
    </div>
    <div class="hero-content-mobile d-lg-none">
        <div class="container">
            <div class="row">
                <h1>@Model.HeroTitle</h1>
                @Html.Raw(Model.HeroContent)
            </div>
        </div>
        
    </div>
    <div class="row pt-4 pb-4 mb-5 cc-cscheme-primary f-1_5rem">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 container-align-center fw-100">
                    <i class="fas fa-box-open pr-2"></i> 3 Outstanding Packages
                </div>
                <div class="col-12 col-sm-6 container-align-center fw-100">
                    <i class="fas fa-hands-helping pr-2"></i> Specialists On Hand
                </div>
            </div>

        </div>
    </div>
    <div class="container services-listing-container">
        <div class="row row-eq-height">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="shadow-2-hover">
                    <img src="https://cdn.buttercms.com/lj7OjhADR1kBuC8GjLQA" /> 
                    <div class="p-3">
                        <h4>Bronze</h4>
                        <p>
                            Career Path Review<br />
                            1 Video Review Session (30 minutes)<br />
                            Connect candidate with local recruiter who specializes within that skillset
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="shadow-2-hover">
                    <img src="https://cdn.buttercms.com/lj7OjhADR1kBuC8GjLQA" /> 
                    <div class="p-3">
                        <h4>Silver</h4>
                        <p>
                            Career Path Review<br />
                            1 Video Review Session (60 minutes)<br />
                            Connect candidate with local recruiter who specializes within that skillset
                            
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="shadow-2-hover">
                    <img src="https://cdn.buttercms.com/lj7OjhADR1kBuC8GjLQA" /> 
                    <div class="p-3">
                        <h4>Gold</h4>
                        <p>
                            2 hours  of Custom Career Coaching <br />
                            Connect candidate with local recruiter who specializes within that skillset<br />
                            Career Development worksheets<br />
                            Support throughout your job search
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
