@using UpDiddy.ViewModels.Components.Layout
@model MenuRootViewModel<MenuItemViewModel>


<h1>Hello World!</h1>
Links:

@foreach(MenuItemViewModel s in Model.menu_item)
{
    <div>@s.label</div>
}