<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.success('We have received your LinkedIn profile data. Soon, it will be displayed on your profile page.', 'Success!', options);
    });
</script>
<div class="linkedin linkedin-syncing"> <i class="pr-2 float-left fab fa-linkedin"></i><span class="text">Sync in progess...</span></div>