
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model LinkedInSyncViewModel
<a href="@Model.SyncLink" class="linkedin btn btn-large btn-primary">
    @{
        if (!string.IsNullOrEmpty(Model.LinkedInAvatarUrl))
        {
            <div class="linkedin-profile-img">
                <img src="@Model.LinkedInAvatarUrl" />
                <i class="fab fa-linkedin"></i>

            </div>

        }
        else
        {
            <i class="fab fa-linkedin float-left mr-2"></i>
        }
    }
    <span class="text font-bold">Synced On</span>
    @if (Model.LastLinkedInSyncDate == DateTime.MinValue)
    {
        <span class="text font-bold">Not Synced</span>
    }
    else
    {
        <span class="text font-bold">@Model.LastLinkedInSyncDate.ToShortDateString()</span>
    }





</a>
