<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        ToastService.success('We have received your LinkedIn profile data. Soon, it will be displayed on your profile page.');
    });
</script>
<a href="@(Model)" class="linkedin btn btn-large btn-primary"><span class="text">Sync with LinkedIn</span> <i class="pl-2 float-right fab fa-linkedin"></i></a>