
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model LinkedInSyncViewModel
<a href="@Model.SyncLink" class="linkedin btn btn-large btn-primary">
    <div class="linkedin-profile-img">
        <img src="@Model.ProfileImageUrl" />
        <i class="fab fa-linkedin"></i>
    </div>
    <span class="text font-bold">Synced!</span> 
</a>