@*@using UpDiddy.ViewModels;*@
@using React.AspNet;
@*@model CompaniesViewModel*@

@Html.Partial("Admin/_AdminNavigation")
<div class="container">
    <div class="row">
        <div class="col-12">
            @Html.React("CompaniesGrid",new { })
        </div>   
    </div>
</div>



