@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;

<div class="modal" tabindex="-1" role="dialog" id="DeletePartnerConfirmationModal">
    <input type="hidden" id="PartnerToDelete" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="DeleteConfirmationPartnerName"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="AdminContainer" class="container-fluid bg-color-primary">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <ul class="nav nav-nav-admin">
                    <li class="nav-link">
                        <a class="text-white" href="/admin/skills">Skills</a>
                    </li>
                    <li class="nav-link">
                        <a class="text-white" href="/marketing/campaignstatistics">Campaign Statistics</a>
                    </li>
                    <li class="nav-link active">
                        <a class="text-white" href="/admin/partners">Partners</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="PartnersContainer" class="row mt-4">
    <div class="col-12">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="d-flex flex-row-reverse">
                        <div id="AddPartnerAction" class="col-12 text-right no-padding">
                            @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                Text = "Add <i class=\"fas fa-plus\"></i>",
                                Hyperlink = "/admin/addpartner",
                                FitToText = true,
                                ChosenColorScheme = "cc-cscheme-primary",
                                ButtonAction = ActionButtonViewModel.Action.CTA
                            })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.AjaxGrid(Url.Action("PartnerGrid"))
                </div>
            </div>
            @section Scripts{
                <script type="text/javascript">window.onload = function () {
                var grid = new MvcGrid(document.querySelector('.mvc-grid'));
            }

            function doSearch(isReset) {
                if (isReset)
                    document.getElementById('GridSearch').value = '';
                var grid = new MvcGrid(document.querySelector('.mvc-grid'));
                var search = document.getElementById('GridSearch').value;
                grid.query.set('searchQuery', encodeURIComponent(search));
                grid.reload();
            }</script>}
        </div>
    </div>
</div>