@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using UpDiddyLib.Helpers
@using System.Collections.Generic;
@using System;

@section Scripts
    {
    <script type="text/javascript">
        /* todo:
         *  of the js below, move that which can be moved to a new .js file for admin/skills
         *  what is redundant with code that exists elsewhere? find it and remove it
         *  what else...?
         */

        var coursesUrl = '@Url.Action("CourseLookup", "Admin")';
        var subscribersUrl = '@Url.Action("SubscriberLookup", "Admin")';
        var skillsUrl = '@Url.Action("SkillsLookup", "Admin")';
        var xhr;
        var select_entity_type, $select_entity_type;
        var select_entity, $select_entity;
        var select_skills, $select_skills;

        $select_entity_type = $('#select-entity-type').selectize({
            onChange: function (value) {
                if (!value.length) return;
                var selectedUrl;
                if (value == "course")
                    selectedUrl = coursesUrl;
                else if (value == "subscriber")
                    selectedUrl = subscribersUrl;
                select_entity.clear();
                select_entity.clearOptions();
                select_skills.clear();
                select_skills.clearOptions();
                select_entity.load(function (callback) {
                    xhr && xhr.abort();
                    xhr = $.ajax({
                        url: selectedUrl,
                        success: function (results) {
                            select_entity.clear();
                            select_entity.enable();
                            callback(results);
                        },
                        error: function () {
                            callback();
                        }
                    })
                });
            }
        });

        $select_entity = $('#select-entity').selectize({
            valueField: 'entityGuid',
            labelField: 'entityName',
            searchField: ['entityName'],
            onChange: function (value) {
                if (!value.length) return;
                select_skills.clear();
                select_skills.load(function (callback) {
                    xhr && xhr.abort();
                    xhr = $.ajax({
                        url: skillsUrl + '/' + $('#select-entity-type').val() + '/' + $('#select-entity').val(),
                        success: function (results) {
                            callback(results);
                            var selectedSkills = [];
                            $.each(results, function (i, obj) {
                                selectedSkills.push(obj.skillGuid);
                            });
                            select_skills.setValue(selectedSkills);
                            select_skills.enable();
                            $('#btnSaveEntitySkills').removeAttr('disabled');
                        },
                        error: function () {
                            callback();
                        }
                    });
                });
            }
        });

        $select_skills = $('#select-skills').selectize({
            valueField: 'skillGuid',
            labelField: 'skillName',
            searchField: ['skillName'],
            persist: false,
            create: false,
            allowEmptyOption: false,
            delimiter: ',',
            load: function (query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '/Home/GetSkills',
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        userQuery: query
                    },
                    error: function () {
                        callback();
                    },
                    success: function (results) {
                        callback(results);
                    }
                });
            }
        });

        function saveSkills() {

            var skills = [];
            $.each(select_skills.items, function (i, obj) {
                var skill = {
                    skillGuid: obj
                };
                skills.push(skill);
            });

            var entitySkillDto = {
                skills: skills,
                entityGuid: $('#select-entity').val(),
                entityType: $('#select-entity-type').val()
            };

            $.ajax({
                url: 'skills',
                type: 'PUT',
                data: JSON.stringify(entitySkillDto),
                processData: false,
                contentType: 'application/json',
                success: function (result) {
                    toastr.success('Skills saved!');
                    select_entity_type.clear();
                    select_skills.clear();
                    select_entity.clear();
                    select_entity.disable();
                    select_skills.disable();
                    $('#btnSaveEntitySkills').attr('disabled', 'disabled');
                },
                error: function (jqXHR) {
                    toastr.error('Oops! Something unexpected happened, and we are looking into it.', 'Error!', toastrOptions)
                },
                complete: function (jqXHR, status) {

                }
            });
        }

        select_entity = $select_entity[0].selectize;
        select_entity_type = $select_entity_type[0].selectize;
        select_skills = $select_skills[0].selectize;
        select_entity.disable();
        select_skills.disable();
    </script>
}

<div id="AdminContainer" class="container-fluid bg-color-primary">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <ul class="nav nav-admin">
                    <li class="nav-link active">
                        <a class="text-white" href="/Admin/Skills">Skills</a>
                    </li>
                    <li class="nav-link" href="#">
                        <a class="text-white" href="#">Promo Codes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="admin-skills-container">
    <div class="container admin">
        <div class="row">
            <div class="col-sm mt-3 mb-3">
                <h4>Entity <i class="fas fa-arrow-right"></i> Skill Association</h4>
                <div class="row">
                    <div class="col">
                        <label for="select-entity-type">Entity Type:</label>
                        <select id="select-entity-type" placeholder="Select an Entity Type">
                            <option value="" selected="selected"></option>
                            <option value="course">Course</option>
                            <option value="subscriber">Subscriber</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="select-entity">Entity:</label>
                        <select id="select-entity" placeholder="Select an Entity"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="select-skills">Skills:</label>
                        <input type="text" id="select-skills" placeholder="Select Skills" />
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-2">
                        <button type="button" id="btnSaveEntitySkills" class="btn btn-primary" onclick="saveSkills()" disabled>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>