.f-color-primary {
  color: #4089A0; }

.bg-color-primary {
  background-color: #4089A0; }

.f-color-secondary {
  color: #03264A; }

.bg-color-secondary {
  background-color: #03264A; }

.f-color-secondary-light {
  color: #03264A; }

.f-color-tertiary-gray {
  color: #808080; }

.f-color-tertiary-light-gray {
  color: #F3F3F3; }

.f-color-white {
  color: #fff; }

/* Font Declarations */
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }
.opensans-bold {
  font-family: "OpenSans-Bold"; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
.opensans-regular {
  font-family: "OpenSans-Regular"; }

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }
.opensans-light {
  font-family: "OpenSans-Light"; }

.brand-button-light {
  background-color: #fff;
  border-radius: 1rem;
  border: 0.0625rem solid #03264A;
  padding: .5rem 1.75rem; }

.brand-button {
  border-radius: 0.5rem;
  max-width: 14rem;
  padding: .4rem;
  font-size: 1.685rem;
  text-align: center;
  cursor: pointer;
  display: inline-block; }
  .brand-button.contrast-primary {
    background-color: #4089A0;
    color: #fff;
    border: 0.125rem solid #fff; }
  .brand-button.contrast-secondary {
    background-color: #fff;
    color: #03264A;
    border: 0.125rem solid #03264A; }
  .brand-button:hover {
    background-color: #4089A0;
    color: #fff;
    border: 0.125rem solid #fff; }

nav .brand-button-light {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

/* Helper classes */
.container-align-right {
  text-align: right; }

.container-align-left {
  text-align: left; }

.container-align-center {
  text-align: center; }

.breadcrumb-text {
  color: #808080;
  font-size: 0.8125rem; }

input {
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif; }

body nav {
  text-transform: uppercase;
  border-bottom: 1px solid #03264A; }
  body nav .navbar-brand {
    margin: 0; }
  body nav.navbar-light .navbar-nav .nav-link {
    color: #03264A;
    font-size: 0.75rem; }

@media (min-width: 0px) {
  body .navbar-brand img {
    width: 6rem; }
  body .hero-home-bottom-details {
    text-align: center; } }
@media (min-width: 992px) {
  body .hero-home-bottom-details {
    text-align: left; } }
@media (min-width: 1200px) {
  body .navbar-brand img {
    width: 9rem; } }
body {
  font-family: "OpenSans-Regular";
  color: #03264A;
  padding-top: 6.375em; }
  body .section-heading {
    font-size: 1rem; }
  body .hero-title {
    font-size: 2rem;
    font-family: "OpenSans-Light"; }
  body .hero-bold {
    font-family: "OpenSans-Bold"; }
  body .home-container .home-hero-top {
    background-image: url("../images/city_skyline.jpg");
    background-position: bottom;
    background-size: cover;
    padding: 5rem 0 10rem 0; }
  body .home-container .home-hero-bottom {
    padding: 5rem 0;
    margin-top: -1px;
    background-color: #03264A; }
    body .home-container .home-hero-bottom .home-hero-bottom-cta > div > div {
      margin-bottom: 1.5rem; }
      body .home-container .home-hero-bottom .home-hero-bottom-cta > div > div:first-child {
        margin-bottom: 0; }
  body .home-container .hero-container {
    text-align: center; }
    body .home-container .hero-container > div {
      margin: 0 auto;
      margin-bottom: 1.5rem; }
    body .home-container .hero-container .hero-subtext {
      color: #808080;
      line-height: 1.8rem; }
    body .home-container .hero-container .brand-button-heavy {
      font-size: 1.6rem; }
  body .home-container .hero-my-circle {
    width: inherit; }
  body .home-container .home-hero .home-hero-bottom .hero-title-regular, body .home-container .home-hero .home-hero-bottom .hero-description {
    padding-bottom: 2.1875rem; }
  body .home-container .course-categories > div {
    margin-bottom: 2.5rem; }
  body .home-container .course-categories .input-group input:focus {
    border: 1px solid #03264A;
    box-shadow: none; }
  body .home-container .course-categories .input-group .input-group-text {
    background-color: #fff; }
    body .home-container .course-categories .input-group .input-group-text i {
      color: #03264A; }
  body .topic-hero-band {
    background-color: #03264A;
    padding: 4rem 0;
    color: #fff; }
    body .topic-hero-band .hero-title {
      font-size: 3rem; }
    body .topic-hero-band .hero-subtitle {
      font-size: 1rem; }
    body .topic-hero-band .brand-button {
      margin-top: 2rem; }

@media (min-width: 0px) {
  body .home-container .home-courses {
    margin-top: 2rem; }
    body .home-container .home-courses .course-categories {
      margin-top: 2rem; }
      body .home-container .home-courses .course-categories .section-heading {
        font-size: 2rem; }
      body .home-container .home-courses .course-categories .career-training-header-container {
        text-align: center; }
      body .home-container .home-courses .course-categories > div {
        margin-bottom: .5rem; }
      body .home-container .home-courses .course-categories .card-column .card img {
        height: 9.374rem; }
      body .home-container .home-courses .course-categories .section-heading {
        font-size: 2rem; } }
@media (min-width: 768px) {
  body .section-heading {
    font-size: 1.5rem; }
  body .home-container .home-courses .course-categories .section-heading {
    font-size: 1.5rem; }
  body .home-container .home-courses .course-categories .career-training-header-container {
    text-align: left; }
  body .home-container .home-courses .course-categories .card-column .card img {
    height: 14rem; }
  body .home-container .home-courses .course-categories > div {
    margin-bottom: 0; } }
@media (min-width: 992px) {
  body .home-container .home-hero {
    background-image: url("../images/skyline_background.png");
    background-size: contain;
    background-position: top; }
    body .home-container .home-hero .home-hero-top {
      padding-top: 6rem; }
    body .home-container .home-hero .home-hero-bottom {
      padding-top: 18rem;
      padding-bottom: 6rem; }
  body .home-container .home-courses {
    margin-top: 6.25rem;
    margin-bottom: 7.5rem; }
    body .home-container .home-courses .course-categories .section-heading {
      font-size: 2rem; }
  body .section-heading {
    font-size: 2.625rem; }
  body nav {
    height: 6.375rem; }
    body nav .navbar-brand {
      margin: 0 1rem; }
    body nav .brand-button-light {
      background-color: #fff;
      border-radius: 1rem;
      border: 1px solid #03264A;
      padding: .5rem 1.75rem; }
    body nav .navbar-nav li {
      padding: .5rem .5rem .5rem .5rem; }
      body nav .navbar-nav li.nav-link-right {
        border-left: 1px solid #03264A;
        padding-left: 1.2rem; } }
@media (min-width: 1200px) {
  body nav.navbar-light .navbar-nav li {
    margin-right: 1rem; } }
/* Card Styles */
.card-column {
  padding-top: 10px;
  padding-bottom: 10px; }
  .card-column .card {
    border: 0; }
    .card-column .card .card-img-top {
      border-radius: 0; }
    .card-column .card .card-body {
      background-color: #F3F3F3;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem; }
    .card-column .card .card-title {
      margin-bottom: .5rem; }
    .card-column .card .card-text {
      font-size: .75rem;
      color: #808080;
      line-height: 1rem;
      overflow: hidden;
      margin-bottom: .5rem; }
    .card-column .card .card-footer-cc {
      text-align: right; }
      .card-column .card .card-footer-cc .view-courses-link {
        color: #03264A;
        font-size: 0.8125rem; }
        .card-column .card .card-footer-cc .view-courses-link:hover {
          text-decoration: none; }
      .card-column .card .card-footer-cc .card-anchor-link {
        font-size: .8125rem;
        font-family: "OpenSans-Bold"; }
    .card-column .card .course-footer div[class^="col-"] {
      padding: 0;
      font-size: 0.8125rem;
      color: #4089A0; }
      .card-column .card .course-footer div[class^="col-"] i, .card-column .card .course-footer div[class^="col-"] a {
        color: #4089A0; }
    .card-column .card img {
      height: 230px; }

/* Topic Page Styles */
@media (min-width: 0px) {
  .detail-view-container .course-list-container {
    padding-top: 1.625rem;
    padding-bottom: 5.375rem; }
    .detail-view-container .course-list-container .section-heading {
      font-size: 2rem; } }
@media (min-width: 768px) {
  .detail-view-container .course-list-container .section-heading {
    font-size: 1.4rem; } }
@media (min-width: 992px) {
  .detail-view-container .course-list-container .section-heading {
    font-size: 1.8rem; } }
.checkout-page-container .checkout-topic-detail-band {
  padding: 3rem 0;
  background-color: #03264A;
  color: #fff; }
  .checkout-page-container .checkout-topic-detail-band .hero-subtitle {
    margin-top: 1rem; }
.checkout-page-container .checkout-hero {
  padding: 3rem 0; }
  .checkout-page-container .checkout-hero .checkout-known-info-header {
    font-size: 2rem; }
  .checkout-page-container .checkout-hero .known-info-container ul {
    margin: 0;
    padding: 0;
    list-style: none; }
.checkout-page-container .checkout-vendor-info-container {
  padding: 0 0 3rem 0; }
  .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm button {
    font-size: 1rem;
    padding: .5rem 1rem;
    transition: background-color 0.15s ease; }
    .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm button:hover {
      background-color: #03264A; }
    .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm button:disabled {
      background-color: #808080;
      cursor: default; }
  .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm .billing-info-header-container {
    border-top: 0.0625rem dashed #4089A0;
    padding-top: 3rem; }
  .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm .billing-info-container {
    padding-bottom: 3rem; }
  .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm .same-as-above,
  .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm .billing-info-header {
    display: inline-block;
    margin-right: 2rem; }
  .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm .payment-info-header {
    border-top: 0.0625rem dashed #4089A0;
    padding-top: 3rem; }
  .checkout-page-container .checkout-vendor-info-container #CourseCheckoutForm .tos-agree {
    padding-top: 1rem; }
  .checkout-page-container .checkout-vendor-info-container .terms-of-service-header {
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 0.0625rem dashed #4089A0; }
  .checkout-page-container .checkout-vendor-info-container .terms-of-service-scrollview {
    max-height: 10rem;
    border: 0.0625rem solid #F3F3F3;
    padding: 1.5rem;
    overflow: auto; }

.about-us-container > div {
  padding: 3rem 0; }
.about-us-container .about-us-hero {
  background-color: #03264A;
  color: #fff; }
.about-us-container .about-us-secondary-band {
  background-color: #4089A0;
  color: #fff; }

.contact-us-container > div {
  padding: 3rem 0; }
.contact-us-container .contact-us-hero {
  background-color: #03264A;
  color: #fff; }
.contact-us-container .contact-us-secondary-band {
  background-color: #4089A0;
  color: #fff; }

/* Footer Styles */
footer {
  font-size: .8125rem; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer ul li {
      display: inline-block; }
  footer .footer-top {
    background-color: #03264A;
    color: #fff;
    padding: 2.625rem; }
    footer .footer-top .footer-header {
      color: #4089A0; }
    footer .footer-top .footer-content {
      margin-top: 1.25rem; }
      footer .footer-top .footer-content ul {
        padding-top: .6rem; }
        footer .footer-top .footer-content ul li {
          border-right: 1px solid #fff;
          padding: 0 1rem; }
          footer .footer-top .footer-content ul li:first-child {
            padding-left: 0; }
          footer .footer-top .footer-content ul li:last-child {
            border-right: 0; }
      footer .footer-top .footer-content .input-group-text {
        border: 0; }
  footer .footer-bottom {
    padding: 1.875rem 0; }
    footer .footer-bottom div[class^="col-"] {
      line-height: 1rem; }
    footer .footer-bottom .social-links li {
      font-size: 1rem;
      padding-left: 1.5rem; }
      footer .footer-bottom .social-links li:first-child {
        padding-left: 0; }
  footer a {
    color: #fff;
    cursor: pointer; }
    footer a .fab {
      color: #03264A; }
      footer a .fab:hover {
        color: #4089A0; }
  footer a:hover {
    color: #547eff;
    text-decoration: none; }
  footer .link-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer .link-list.social li {
      display: inline;
      margin-right: 10px; }
    footer .link-list.social li:last-child {
      margin-right: 0; }
  footer .subheading {
    margin: 0 0 20px 0; }
  footer #FooterSubscribeForm input {
    width: 100px; }

/*# sourceMappingURL=bundle.css.map */
