@import '../../_variables';

// Base Styles
@media (min-width: 0px) {
    #SignUpComponent {

        .notification {
            font-size: 75%;
            word-wrap: break-word;
        }

        .form-check {
            .form-check-label {
                line-height: 1.3em;
            }
        }

        .sign-up-input {
            margin-bottom: 1rem;

            .wide-input {
                border-radius: .25rem;
                width: 100%;
                padding: .5rem;
                padding-left: 1.5rem;
                font-size: .8rem;
                border: none;
            }

            input {

                &.form-check-input {
                    top: .2em;
                    margin-top: 0;
                }

                &:focus {
                    outline: none;
                }

                &.invalid {
                    border: 2px solid $color-red;

                    &.form-check-input {
                        outline: 1.5px solid $color-red;
                    }
                }
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

// Extra Large Styles
@media (min-width: 1200px) {
}
