@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto

@model TopicViewModel
@inject IViewLocalizer L
@{
    ViewData["Title"] = L["Home Page"];
}


<h1> @L["Topics"]</h1>
<div>
    
    <div class="row">
        @foreach (TopicDto topic in Model.Topics)
        {

            <div class="col-md-4 card-column">
                <div class="card">
                    <img class="card-img-top" src="@(Model.ImageUrl + topic.DesktopImage)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@topic.Name</h5>
                        <p class="card-text">@topic.Description</p>
                    </div>
                </div>
            </div>
        }
       
    </div>
    

    

</div>