@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddyLib.Dto

@model IList<TopicDto>
@inject IViewLocalizer L
@{
    ViewData["Title"] = L["Home Page"];
}

<h1> @L["Topics"]</h1>
<div>
    This is the topics page  

    <ul>
        @foreach (TopicDto topic in Model)
        {            
            <li><a asp-area="" asp-controller="Course" asp-action="ByTopic" asp-route-topic="@topic.Code">@topic.Name</a></li>
        }

    </ul>

</div>