@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model VideoViewModel
<div id="VideoComponentContainer">
    <video id="VideoComponent">
        <source src="@Model.Url" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="video-thumbnail">
        <img src="@Model.Thumbnail" />
    </div>
    <div class="play-button-container">
        <div class="video-play-button">
            <i class="fas fa-play-circle fa-7x"></i>
        </div>
    </div>
</div>
