<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/933642d7-459a-499f-acc7-0d9a14ecf604/resourceGroups/AADB2C-CustomUI/providers/Microsoft.Web/sites/B2C-Custom-Policy-Templates</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://b2c-custom-policy-templates.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>b2c-custom-policy-templates.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>B2C-Custom-Policy-Templates</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$B2C-Custom-Policy-Templates</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>