@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model SignUpViewModel;

<div id="CampaignContainer" class="mom-project-signup">
    <div class="cc-campaign-sign-up-band row" style="background-image: url('/images/handshake-hero.jpg'); background-position: top">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-8 cc-campaign-sign-up-band-left-container  d-flex align-items-center">
                        <div class="row">
                            <div class="col no-padding">
                                <div class="row">
                                    <div class="col-12 no-padding">
                                        <div class="row">
                                            <div class="col-12 hero-header font-bold">
                                                CareerCircle welcomes<br /> <span>The Mom Project</span>
                                            </div>
                                            <div class="col-12 campaign-bullet-list">
                                                <div class="d-flex flex-column bd-highlight mb-3 mt-3">
                                                    <div class="bd-highlight font-bold">Sign up.</div>
                                                    <div class="bd-highlight font-bold">Create your profile.</div>
                                                    <div class="bd-highlight font-bold">Restart you career.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 cc-campaign-sign-up-band-right-container no-padding">
                        <div class="cc-campaign-sign-up-container">
                            <div class="row">
                                <div class="col-12 no-padding sub-header font-bold">
                                    Sign Up Today!
                                </div>
                                <div class="col-12 no-padding mini-header">
                                    Create an account to get started
                                </div>
                                <div class="col-12 no-padding">
                                    @Html.Partial("Components/Authentication/_SignUp", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(ContentBandViewModel.VIEW_FILE, new ContentBandViewModel()
    {
        Header = "At CareerCircle, Our Focus Is You",
        Elements = new List<string>()
        {
            @"<div class='row'>
                <div class='col-lg-8 offset-lg-2'>
                    The Mom Project is partnering with CareerCircle to support Information Technology hiring needs in the greater Chicago area.  Together we want to provide you access to the education you need to prepare you for the career you want. Our family of companies will be partnering to introduce you to world-class employers once your training is complete. Be part of a community that you will be able to trust over the years with your careerskilling needs as your career progresses. We invite you to set up an account and fill out your talent profile to get the partnership started!
                </div>
            </div>"
        }
    });
</div>