@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model CampaignViewModel;

<div id="CampaignContainer">
    <div class="cc-campaign-sign-up-band row" style="background-image: url('https://careercirclestaging.blob.core.windows.net/assets/AdobeStock_119520712_169_crop_optimize.jpg')">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 cc-campaign-sign-up-band-left-container  d-flex align-items-end">
                        <div class="row">
                            <div class="col no-padding">
                                <div class="row">
                                    <div class="col-2 no-padding d-none d-lg-block">
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <div class="col-10 no-padding">
                                        <div class="row">
                                            <div class="col-12 hero-header font-bold">
                                                Welcome, Mom Project!
                                            </div>
                                            <div class="col-12 campaign-bullet-list">
                                                <div class="d-flex flex-column bd-highlight mb-3 mt-3">
                                                    <div class="bd-highlight font-bold">Sign up</div>
                                                    <div class="bd-highlight font-bold">Create a profile</div>
                                                    <div class="bd-highlight font-bold">Restart your career</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 cc-campaign-sign-up-band-right-container no-padding">
                        <div class="cc-campaign-sign-up-container">
                            <div class="row">
                                <div class="col-12 no-padding sub-header font-bold">
                                    Sign Up Today!
                                </div>
                                <div class="col-12 no-padding mini-header">
                                    Create an account to get started
                                </div>
                                <div class="col-12 no-padding">
                                    <div id="SignUpComponent">
                                        @{
                                            SignUpViewModel suvm = new SignUpViewModel();
                                            if (Model.IsExpressCampaign)
                                            {
                                                suvm.IsExpressSignUp = true;
                                            }
                                            else
                                            {
                                                suvm.ContactGuid = Model.ContactGuid;
                                                suvm.CampaignGuid = Model.CampaignGuid;
                                                suvm.CampaignPhase = Model.CampaignPhase;
                                                suvm.IsExpressSignUp = false;
                                            }


                                        }
                                        @Html.Partial("Components/Authentication/_SignUp", suvm)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cc-skew-band cc-cscheme-tertiary-light-gray row">
        <div class="col-12">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-12 no-padding">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center no-padding mt-4">
                                <div class="cc-skew-band-header font-bold">
                                    At CareerCircle, Our Focus Is You
                                </div>
                            </div>
                            <div class="col-lg-8 offset-lg-2 mb-4 no-padding">
                                <div class="cc-skew-band-content">
                                    <div class="row">
                                        The Mom Project is partnering with CareerCircle to support hiring needs within Information Technology in Chicago. Together we want to provide you access to the education you need to upskill you for the career you want. Our family of companies will be partnering to introduce you to world-class employers once your training is complete. Be part of a community that you will be able to trust over the years with your careerskilling needs and career pathing. We invite you to set up an account and fill out your talent profile to get the partnership started!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>