<div style="position:relative;text-align:center;color:white;font-family:Calibri;font-size:large;">
    <div style="position:absolute;left:50%;top:15%;transform:translate(-50%, -15%);">
        Thank you! Opening seed emails and clicking through to our site helps preserve our sender reputation. If you do not wish to participate, let us know @Html.ActionLink("here", "contact", "home", null, new { @style = "text-decoration:underline;color:white;" }).
    </div>
    <img src="~/images/random/@ViewBag.ImageName" style="object-fit:fill; height:100%; width:100%;" />
</div>
