@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model CampaignViewModel


<div id="CampaignContainer">
    @* Some of the below hardcoded values will be replaced with variables from the Model. *@
    @{
        List<string> Descriptions = new List<string>
{
    "We prepare the workforce of today for the opportunities of tomorrow. Enroll in affordable courses and expand your skill set.",
    "Our partner companies cover the entire United States."
};
    }

<div class="cc-campaign-sign-up-band row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 cc-campaign-sign-up-band-left-container">
                        <div class="row">
                            <div class="col no-padding">
                                <div class="row">
                                    <div class="col-12 hero-header font-bold">
                                        It's your time!
                                    </div>
                                    <div class="col-12 campaign-bullet-list">
                                        <div class="d-flex flex-column bd-highlight mb-3 mt-3">
                                            <div class="bd-highlight font-bold">Sign up.</div>
                                            <div class="bd-highlight font-bold">Enroll.</div>
                                            <div class="bd-highlight font-bold">UpSkill.</div>
                                            <div class="bd-highlight font-bold">Get a new job.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 cc-campaign-sign-up-band-right-container no-padding">
                        <div class="cc-campaign-sign-up-container">
                            <div class="row">
                                <div class="col-12 no-padding sub-header font-bold">
                                    Sign Up Today!
                                </div>
                                <div class="col-12 no-padding mini-header">
                                    Create an account to get started
                                </div>
                                <div class="col-12 no-padding">
                                    @Html.Partial("Components/Authentication/_SignUp", new SignUpViewModel
                                    {
                                        PartnerContactGuid = Model.PartnerContactGuid,
                                        CampaignGuid = Model.CampaignGuid,
                                        CampaignPhase = Model.CampaignPhase
                                    })
                                </div>
                                <div class="col-12 no-padding campaign-disclaimer text-left">
                                    You must sign up with the email address the offer was sent to.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="cc-skew-band cc-cscheme-tertiary-light-gray row">
    <div class="col-12">
        <div class="container no-padding">
            <div class="row">
                <div class="col-12 no-padding">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center no-padding">
                            <div class="cc-skew-band-header font-bold">
                                At CareerCircle Our Focus Is You
                            </div>
                        </div>
                        <div class="col-12 no-padding">
                            <div class="cc-skew-band-content">
                                <div class="row">
                                    We are passionate about creating a community where people can access the skills/training they need to prepare for the role they want. CareerCircle is committed to building this for you . . by you!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @Html.Partial("Components/Bands/_TextWithMediaBand", new TextWithMediaBandViewModel {
        Header = "Expand Your Skills",
        MediaUrl = "/videos/Career_Circle.mp4",
        VideoThumbnailUrl = "/images/FullStack_Main.png",
        ChosenColorScheme = "cc-cscheme-secondary",
        Descriptions = Descriptions,
        Media = TextWithMediaBandViewModel.MediaType.VIDEO
    })
</div>
<img class="position-absolute" src="@Model.TrackingImgSource" />