@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model SignUpViewModel;

<div id="CampaignContainer" class="wozu-signup">
    <div class="cc-campaign-sign-up-band row" style="background-image: url('/images/networking-hero.jpg');">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-8 cc-campaign-sign-up-band-left-container  d-flex align-items-center">
                        <div class="row">
                            <div class="col no-padding">
                                <div class="row">
                                    <div class="col-12 no-padding">
                                        <div class="row">
                                            <div class="col-12 hero-header font-bold">
                                                CareerCircle Welcomes <br /> Woz U Students &amp; Graduates
                                            </div>
                                            <div class="col-12 campaign-bullet-list">
                                                <div class="d-flex flex-column bd-highlight mb-3 mt-3">
                                                    <div class="bd-highlight font-bold">Sign up.</div>
                                                    <div class="bd-highlight font-bold">Create your profile.</div>
                                                    <div class="bd-highlight font-bold">Advance your career.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 cc-campaign-sign-up-band-right-container no-padding">
                        <div class="cc-campaign-sign-up-container">
                            <div class="row">
                                <div class="col-12 no-padding sub-header font-bold">
                                    Sign Up Today!
                                </div>
                                <div class="col-12 no-padding mini-header">
                                    Create an account to get started
                                </div>
                                <div class="col-12 no-padding">
                                    <div id="SignUpComponent">
                                        <form id="ExpressSignUpForm" asp-controller="Home" asp-action="ExpressSignUp">
                                            <div class="row">
                                                <div id="SignUpEmail" class="col-12 sign-up-input no-padding">
                                                    <input placeholder="Your email" form="ExpressSignUpForm" name="Email" asp-for="Email" required class="wide-input" />
                                                </div>
                                                <div id="SignUpPassword" class="col-12 sign-up-input no-padding">
                                                    <input placeholder="Password" type="password" form="ExpressSignUpForm" name="Password" asp-for="Password" required class="wide-input" />
                                                </div>
                                                <div id="SignUpPasswordRetype" class="col-12 sign-up-input no-padding">
                                                    <input placeholder="Re-enter password" type="password" form="ExpressSignUpForm" name="ReenterPassword" asp-for="ReenterPassword" required class="wide-input" />
                                                </div>
                                                <div>
                                                    <div class="form-check sign-up-input">
                                                        <input type="checkbox" class="form-check-input" id="termsAndConditionsCheck" value="agree" required>
                                                        <label class="form-check-label text-left" for="termsAndConditionsCheck">I agree to CareerCircle website <a target="_blank" href="/Home/TermsOfService">terms and conditions</a></label>
                                                    </div>
                                                </div>
                                                <div id="SignUpAction" class="col-12 no-padding">
                                                    @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                                                        Text = "Sign Up Now",
                                                        SkewDirection = "skew-left-to-right",
                                                        ChosenColorScheme = "cc-cscheme-darkred",
                                                        Form = "ExpressSignUpForm",
                                                        ButtonAction = ActionButtonViewModel.Action.SUBMIT
                                                    })
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cc-skew-band cc-cscheme-tertiary-light-gray row">
        <div class="col-12">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-12 no-padding">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center no-padding mt-4">
                                <div class="cc-skew-band-header font-bold">
                                    At CareerCircle, Our Focus Is You
                                </div>
                            </div>
                            <div class="col-lg-8 offset-lg-2 mb-4 no-padding">
                                <div class="cc-skew-band-content">
                                    <div class="row">
                                        Woz U has partnered with CareerCircle to provide placement support through their network of staffing companies.  Students and Graduates are encouraged to sign up for a free account and create their profile.  You will have access to talent agents and recruiters that will work with you to better understand your ideal role and represent you in the market!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>