.admin-skills-container {
    label {
        line-height: 30px;
        margin-left: 4px;
    }

    .selectizeLoading > .selectize-input, .selectizeLoading > .selectize-input > input {
        cursor: wait !important;
        font-style: italic;
        background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat center center;
    }
}
