@import '_variables';

// Base Styles
@media (min-width: 0px) {
    .card-column {
        padding-top: 10px;
        padding-bottom: 10px;
        a{
            color: $color-secondary;
            &:hover{
                color: $color-primary;
            }
        }
        .card {
            border: 0;

            .card-img-top {
                border-radius: 0;
            }

            .card-body {
                background-color: $color-tertiary-light-gray;
                border-bottom-left-radius: .5rem;
                border-bottom-right-radius: .5rem;
            }

            .card-title {
                margin-bottom: .5rem;
                min-height: 3rem;
            }

            .card-text {
                font-size: .75rem;
                color: $color-tertiary-gray;
                line-height: 1rem;
                overflow: hidden;
                margin-bottom: .5rem;
            }

            .card-footer-cc {
                text-align: right;

                .view-courses-link {
                    color: $color-secondary;
                    font-size: $rem-13;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .card-anchor-link {
                    font-size: .8125rem;
                    font-family: $opensans-bold;
                }
            }

            .course-footer {
                div[class^="col-"] {
                    padding: 0;
                    font-size: $rem-13;
                    color: $color-primary;

                    i, a {
                        color: $color-primary;
                    }
                }
            }

            img {
                height: 230px;
            }
        }

        .card-hyperlink-container {
            .card {
                div {
                    color: $color-secondary;
                }

                transition: box-shadow 0.1s ease-in-out;

                &:hover {
                    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);


                    div {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

//Extra Large Styles
@media (min-width: 1200px) {
}
