@import '_variables';

.f-color-primary{
    color: $color-primary;
}
.bg-color-primary {
    background-color: $color-primary;
}


.f-color-secondary {
    color: $color-secondary;
}
.bg-color-secondary {
    background-color: $color-secondary;
}


.f-color-secondary-light {
    color: $color-secondary-light;
}


.f-color-tertiary-gray {
    color: $color-tertiary-gray;
}


.f-color-tertiary-light-gray {
    color: $color-tertiary-light-gray;
}


.f-color-white{
    color: $color-white;
}



/* Font Declarations */
@font-face {
    font-family: "OpenSans-Bold";
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

.opensans-bold{font-family: $opensans-bold}

@font-face {
    font-family: "OpenSans-Regular";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

.opensans-regular { font-family: $opensans-regular}

@font-face {
    font-family: "OpenSans-Light";
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

.opensans-light {font-family: $opensans-light}

.brand-button-light{
    background-color: #fff;
    border-radius: 1rem;
    border: $rem-1 solid $color-secondary;
    padding: .5rem 1.75rem;
}

.brand-button {
    border-radius: $rem-8;
    max-width: 14rem;
    padding: .4rem;
    font-size: 1.685rem;
    text-align: center;
    cursor: pointer;

    &.contrast-primary {
        background-color: $color-primary;
        color: #fff;
        border: $rem-2 solid #fff;
    }

    &.contrast-secondary {
        background-color: $color-white;
        color: $color-secondary;
        border: $rem-2 solid $color-secondary;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        border: $rem-2 solid $color-white;
    }
}

nav .brand-button-light {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
/* Helper classes */
.container-align-right {
    text-align: right;
}

.container-align-left {
    text-align: left;
}

.container-align-center {
    text-align: center;
}


.breadcrumb-text {
    color: $color-tertiary-gray;
    font-size: $rem-13;
}

input {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}