$rem-1: .0625rem;
$rem-2: .125rem;
$rem-3: .1875rem;
$rem-4: .25rem;
$rem-5: .3125rem;
$rem-6: .375rem;
$rem-7: .4375rem;
$rem-8: .5rem;
$rem-9: .5625rem;
$rem-10: .625rem;
$rem-11: .6875rem;
$rem-12: .75rem;
$rem-13: .8125rem;
$rem-14: .875rem;
$rem-15: .9375rem;

$color-primary: #4089A0;
.f-color-primary{
    color: $color-primary;
}
.bg-color-primary {
    background-color: $color-primary;
}

$color-secondary: #03264A;
.f-color-secondary {
    color: $color-secondary;
}
.bg-color-secondary {
    background-color: $color-secondary;
}

$color-secondary-light: #03264A;
.f-color-secondary-light {
    color: $color-secondary-light;
}

$color-tertiary-gray: #808080;
.f-color-tertiary-gray {
    color: $color-tertiary-gray;
}

$color-tertiary-light-gray: #F3F3F3;
.f-color-tertiary-light-gray {
    color: $color-tertiary-light-gray;
}

$color-white: #fff;
.f-color-white{
    color: $color-white;
}



/* Font Declarations */
@font-face {
    font-family: "OpenSans-Bold";
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
$opensans-bold: 'OpenSans-Bold';
.opensans-bold{font-family: $opensans-bold}

@font-face {
    font-family: "OpenSans-Regular";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
$opensans-regular: 'OpenSans-Regular';
.opensans-regular { font-family: $opensans-regular}

@font-face {
    font-family: "OpenSans-Light";
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
$opensans-light: 'OpenSans-Light';
.opensans-light {font-family: $opensans-light}

.brand-button-light{
    background-color: #fff;
    border-radius: 1rem;
    border: $rem-1 solid $color-secondary;
    padding: .5rem 1.75rem;
}

.brand-button {
    border-radius: $rem-8;
    max-width: 14rem;
    padding: .4rem;
    font-size: 1.685rem;
    text-align: center;

    &.contrast-primary {
        background-color: $color-primary;
        color: #fff;
        border: $rem-2 solid #fff;
    }

    &.contrast-secondary {
        background-color: $color-white;
        color: $color-secondary;
        border: $rem-2 solid $color-secondary;
    }
}

nav .brand-button-light {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding: 0;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
/* Helper classes */
.container-align-right {
    text-align: right;
}

.container-align-left {
    text-align: left;
}

.container-align-center {
    text-align: center;
}


.breadcrumb-text {
    color: $color-tertiary-gray;
    font-size: $rem-13;
}

input {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}