@import '_variables';

.contact-us-container {
    > div {
        padding: 3rem 0;
    }

    .contact-us-hero {
        background-color: $color-secondary;
        color: $color-white;
    }

    .contact-us-secondary-band {
        background-color: $color-primary;
        color: $color-white;
    }
}
