@import '_variables';
.checkout-page-container{
    .checkout-hero{
        padding: 3rem 0;
        background-color: $color-secondary;
        .checkout-known-info-header{
            font-size: 2rem;
            color: $color-white;
        }
    }
}
