@import '_variables';

// Base Styles
@media (min-width: 0px) {
    .signout-container {
        .signout-message-container {
            background-image: url('../images/medium_blue_background.jpg');
            color: $color-white;
            background-size: cover;
            padding: 2rem 0;

            .signout-hero {
                padding-bottom: 2rem;

                .signout-header {
                    font-size: 2rem;
                }

                .signout-sub-header {
                
                }
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

//Extra Large Styles
@media (min-width: 1200px) {
}
