/* Imports */
@import '_common';

body {
    font-family: $opensans-regular;
    color: $color-secondary;
    padding-top: 6.375em;

    a {
        color: $color-secondary;
    }

    .section-heading{
        font-size: 1rem;
    }

    nav {
        text-transform: uppercase;
        border-bottom: 1px solid $color-secondary-light;

        &.navbar-light {
            .navbar-nav {
                li {
                    margin-right: 1rem;
                }

                .nav-link {
                    color: $color-secondary;
                    font-size: 1.125rem;
                }
            }
        }
    }

    .hero-title {
        font-size: 2rem;
        font-family: $opensans-light;
    }

    .hero-bold {
        font-family: $opensans-bold;
    }

    .home-container {
        margin-top: 57px;

        .container {
            padding-top: 4rem;
        }

        .hero-container {
            text-align: center;

            > div {
                margin: 0 auto;
                margin-bottom: 1.5rem;
            }

            .hero-subtext {
                color: $color-tertiary-gray;
                line-height: 1.8rem;
            }

            .brand-button-heavy {
                font-size: 1.6rem;
            }
        }

        .hero-my-circle {
            width: inherit;
        }

        .course-categories {
            > div {
                margin-bottom: 2.5rem;
            }

            .input-group {
                input {
                    &:focus {
                        border: 1px solid $color-secondary-light;
                        box-shadow: none;
                    }
                }

                .input-group-text {
                    background-color: $color-white;

                    i {
                        color: $color-secondary;
                    }
                }
            }
        }
    }
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 25px 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

@media (min-width: 992px) {
    body {
        .section-heading {
            font-size: 2.625rem;
        }

        nav {
            height: 6.375rem;



            .brand-button-light {
                background-color: #fff;
                border-radius: 1rem;
                border: 1px solid $color-secondary;
                padding: .5rem 1.75rem;
            }

            .navbar-nav {
                li {
                    padding: .5rem .5rem .5rem .5rem;

                    &.nav-link-right {
                        border-left: 1px solid $color-secondary-light;
                        padding-left: 1.2rem;
                    }
                }
            }
        }

        .home-container {
            margin-top: 6.375em;
        }
    }
    
}

@media (min-width: 768px){
    body{
        .section-heading{
            font-size: 1.5rem;
        }
        .home-container{
            .course-categories{
                > div{
                    margin-bottom: 0;
                }
            }
        }
    }
}


.nav{
    &.navbar-right{
        li{
            padding-right: 10px;
        }
    }
}

/* Card Styles */
.card-column {
    padding-top: 10px;
    padding-bottom: 10px;

    .card {
        border: 0;

        .card-text {
            font-size: .75rem;
            color: $color-tertiary-gray;
            line-height: 1rem;
            overflow: hidden;

            &.fade-text {
                position: relative;
                height: 4em;
            }

            &.fade-text:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 30%;
                height: 1.2em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            }
        }

        .card-footer-cc {
            text-align: right;

            .view-courses-link {
                font-size: .8125rem;
                font-family: $opensans-bold;
            }
        }

        img {
            height: 230px;
        }
    }
}

/* Footer Styles */
footer {
    background-color: $color-secondary;
    color: #cbcbcb;
    padding: 20px 0;

    a {
        color: #fff;
        cursor: pointer;
    }

    a:hover {
        color: #547eff;
        text-decoration: none;
    }

    .link-list {
        list-style: none;
        margin: 0;
        padding: 0;

        &.social {
            li {
                display: inline;
                margin-right: 10px;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .subheading {
        margin: 0 0 20px 0;
    }

    #FooterSubscribeForm {
        input {
            width: 100px;
        }
    }
}
