/* Imports */
@import '_common';

body {
    font-family: $opensans-regular;
    color: $color-secondary;
    padding-top: 6.375em;

    

    .section-heading{
        font-size: 1rem;
    }

    nav {
        text-transform: uppercase;
        border-bottom: 1px solid $color-secondary-light;
        .navbar-brand{
            margin: 0;
        }
        &.navbar-light {
            .navbar-nav {

                .nav-link {
                    color: $color-secondary;
                    font-size: 1.125rem;
                }
            }
        }
    }

    .hero-title {
        font-size: 2rem;
        font-family: $opensans-light;
    }

    .hero-bold {
        font-family: $opensans-bold;
    }

    .home-container {

        .hero-container {
            text-align: center;

            > div {
                margin: 0 auto;
                margin-bottom: 1.5rem;
            }

            .hero-subtext {
                color: $color-tertiary-gray;
                line-height: 1.8rem;
            }

            .brand-button-heavy {
                font-size: 1.6rem;
            }
        }

        .hero-my-circle {
            width: inherit;
        }
        .home-hero{
            .home-hero-bottom{
                .hero-title-regular, .hero-description{
                    padding-bottom: 2.1875rem;
                }
            }
        }
        .course-categories {
            > div {
                margin-bottom: 2.5rem;
            }

            .input-group {
                input {
                    &:focus {
                        border: 1px solid $color-secondary-light;
                        box-shadow: none;
                    }
                }

                .input-group-text {
                    background-color: $color-white;

                    i {
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    .topic-hero-band{
        background-color: $color-secondary;
        padding: 4rem 0;
        color: $color-white;
        .hero-title{
            font-size: 3rem;
        }
        .hero-subtitle{
            font-size: 1rem;
        }
        .brand-button{
            margin-top: 2rem;
        }
    }
}


/* Card Styles */
.card-column {
    padding-top: 10px;
    padding-bottom: 10px;

    .card {
        border: 0;

        .card-img-top{
            border-radius: 0;
        }
        .card-body {
            background-color: $color-tertiary-light-gray;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }

        .card-title {
            margin-bottom: .5rem;
        }

        .card-text {
            font-size: .75rem;
            color: $color-tertiary-gray;
            line-height: 1rem;
            overflow: hidden;
            margin-bottom: .5rem;
        }

        .card-footer-cc {
            text-align: right;
            .view-courses-link{
                color: $color-secondary;
                font-size: $rem-13;
                &:hover{
                    text-decoration: none;
                    
                }
            }
            .card-anchor-link {
                font-size: .8125rem;
                font-family: $opensans-bold;
            }
        }
        .course-footer{
            div[class^="col-"]{
                padding: 0;
                font-size: $rem-13;
                color: $color-primary;
                i, a{
                    color: $color-primary;
                }
            }
        }

        img {
            height: 230px;
        }
    }
}

/* Topic Page Styles */
.course-list-container{
    padding-top: 1.625rem;
    padding-bottom: 5.375rem;
}

/* Footer Styles */
footer {
    font-size: .8125rem;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
        }
    }

    .footer-top {
        background-color: $color-secondary;
        color: $color-white;
        padding: 2.625rem;

        .footer-header {
            color: $color-primary;
        }

        .footer-content {
            margin-top: 1.25rem;

            ul {
                padding-top: .6rem;

                li {
                    border-right: 1px solid $color-white;
                    padding: 0 1rem;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        border-right: 0;
                    }
                }
            }

            .input-group-text {
                border: 0;
            }
        }
    }

    .footer-bottom {
        padding: 1.875rem 0;

        div[class^="col-"] {
            line-height: 1rem;
        }

        .social-links {
            li {
                font-size: 1rem;
                padding-left: 1.5rem;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }



    a {
        color: #fff;
        cursor: pointer;
    }

    a:hover {
        color: #547eff;
        text-decoration: none;
    }

    .link-list {
        list-style: none;
        margin: 0;
        padding: 0;

        &.social {
            li {
                display: inline;
                margin-right: 10px;
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .subheading {
        margin: 0 0 20px 0;
    }

    #FooterSubscribeForm {
        input {
            width: 100px;
        }
    }
}
@media (min-width: 1200px){
    body {
        nav {
            &.navbar-light {
                .navbar-nav {
                    li {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    body {
        .home-container {
            .home-hero {
                background-image: url('../images/skyline_background.png');
                background-size: contain;
                background-position: top;

                .home-hero-top {
                    padding-top: 6rem;
                }

                .home-hero-bottom {
                    padding-top: 18rem;
                    padding-bottom: 6rem;
                }
            }

            .home-courses {
                margin-top: 6.25rem;
                margin-bottom: 7.5rem;
            }
        }

        .section-heading {
            font-size: 2.625rem;
        }

        nav {
            height: 6.375rem;


            .navbar-brand {
                margin: 0 1rem;
            }

            .brand-button-light {
                background-color: #fff;
                border-radius: 1rem;
                border: 1px solid $color-secondary;
                padding: .5rem 1.75rem;
            }

            .navbar-nav {
                li {
                    padding: .5rem .5rem .5rem .5rem;

                    &.nav-link-right {
                        border-left: 1px solid $color-secondary-light;
                        padding-left: 1.2rem;
                    }
                }
            }
        }
    }
}

    

            @media (min-width: 768px) {
                body {
                    .section-heading {
                        font-size: 1.5rem;
                    }

                    .home-container {
                        .course-categories {
                            > div {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
