@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model ActionButtonViewModel
@*
    ***Customization Options***

    You can change the "skew-left-to-right" option to
    "skew-right-to-left" to change the skew direction.
*@

<div class="button-container @Model.ChosenColorScheme @Model.SkewDirection font-bold">
    @Model.Text
</div>
