@using UpDiddy.ViewModels
@model CheckoutViewModel
<ul>
    <li>First Name: @Model.Subscriber.FirstName</li>
    <li>Last Name: @Model.Subscriber.LastName</li>
    <li>Phone Number: @Model.Subscriber.PhoneNumber</li>
</ul>
