@using UpDiddy.ViewModels
@model CourseViewModel

<div class="input-group col-md-12">
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="SubscriberFirstName" id="SubscriberFirstName" asp-for="SubscriberFirstName" value="@Model.SubscriberFirstName" placeholder="First Name" required>
    </div>
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="SubscriberLastName" id="SubscriberLastName" asp-for="SubscriberLastName" value="@Model.SubscriberLastName" placeholder="Last Name" required>
    </div>
</div>