 <footer><!-- TODO Implement functionality of blue footer band
    <div class="row footer-top">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-header">
                            Customer Service
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li>Contact</li>
                                <li>Enrollment &amp; Payment</li>
                                <li>Support</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-header">
                            More Information
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li>Work With Us</li>
                                <li>Careers</li>
                                <li>Sitemap</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-header">
                            Stay up to date with Career Circle
                        </div>
                        <div class="footer-content">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-color-primary f-color-white">Subscribe</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row footer-bottom">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <i class="far fa-copyright"></i>2018 Career Circle, an Allegis Group company. All rights reserved.  <!--Privacy Policy | Terms and Conditions | Cookie Policy-->
                    </div>
                    <div class="col-md-3 container-align-right">
                        <ul class="social-links">
                            <li><i class="fab fa-facebook"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-linkedin"></i></li>
                            <li><i class="fab fa-google-plus"></i></li>
                            <li><i class="fab fa-youtube"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>