 <footer>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="subheading">
                        Customer Service
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="link-list">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                                </li>
                                <li>
                                    <a>Enrollment &amp; Payment</a>
                                </li>
                                <li>
                                    <a>Support</a>
                                </li>
                                <li>
                                    <a>FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="subheading">
                        Information
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="link-list">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                </li>
                                <li>
                                    <a>Work With Us</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="WhatWeAreAbout">What We're About</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Terms">Terms and Conditions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="link-list">
                                <li>
                                    <a>Careers</a>
                                </li>
                                <li>
                                    <a>Sitemap</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="News">News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <span class="callout-text">Stay up to date with CareerCloud</span>
                    <span class="callout-text font-blue">Sign up for our CareerCloud newsletter to learn about our latest offerings</span>
                    <form id="FooterSubscribeForm">
                        <div class="row">
                            <div class="col-md-6">
                                <input />
                            </div>
                            <div class="col-md-6">
                                <button>
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="link-list social">
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fab fa-facebook"></i>
                        </li>
                    </ul>
                    <i class="far fa-copyright"></i> 2018 CareerCloud Inc.
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </div>
    </div>
</footer>