@{
    Layout = "_SimpleLayout";
}
<div class="error-container">
    <div class="row">
        <div class="col-md-12 error-title">
            Oops!
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 error-detail">
            Unfortunately, something went wrong with your request. <br />
            You can click <a href="javascript:void(0);" onclick="history.go(-1);">here</a> to retry your last request, or you can click @Html.ActionLink("here", "Index", "Home") to return to the home page.
        </div>
    </div>
</div>
