@using UpDiddy.ViewModels
@using System.Net
@model SignUpViewModel

<div id="SignUpComponent">
    <form id="SignUpForm" asp-controller="session" asp-action="signup" data-action="signup">
        @{
            if (Model.PartnerGuid != Guid.Empty && Model.PartnerGuid != null)
            {
                <input type="hidden" asp-for="PartnerGuid" name="PartnerGuid" value="@Model.PartnerGuid" form="SignUpForm" />
            }
        }
        <div class="row">
            @if (Model.IsWaitList)
            {
                <div id="SignUpFirstName" class="col-12 sign-up-input no-padding">
                    <input class="form-control input-lg" placeholder="Your first name" form="SignUpForm" name="FirstName" asp-for="FirstName" required />
                </div>
                <div id="SignUpLastName" class="col-12 sign-up-input no-padding">
                    <input class="form-control input-lg" placeholder="Your last name" form="SignUpForm" name="LastName" asp-for="LastName" required />
                </div>
                <div id="SignUpPhone" class="col-12 sign-up-input no-padding">
                    <input class="form-control input-lg" placeholder="Your phone number (optional)" type="text" maxlength="16" form="SignUpForm" name="PhoneNumber" asp-for="PhoneNumber" />
                </div>
            }
            <div id="SignUpEmail" class="col-12 sign-up-input no-padding">
                <input class="form-control input-lg" placeholder="Email Address" form="SignUpForm" data-val="true" name="Email" asp-for="Email" required />
            </div>
            <div id="SignUpPassword" class="col-12 sign-up-input no-padding">
                <input class="form-control input-lg" placeholder="Password" type="password" form="SignUpForm" name="Password" asp-for="Password" required />
            </div>
            <div id="SignUpPasswordRetype" class="col-12 sign-up-input no-padding">
                <input class="form-control input-lg" placeholder="Re-enter password" type="password" form="SignUpForm" name="ReenterPassword" asp-for="ReenterPassword" required />
            </div>
            <div>
                <div class="form-check sign-up-input">
                    <input type="checkbox" class="form-check-input" id="termsAndConditionsCheck" value="agree" required>
                    <label class="form-check-label text-left" for="termsAndConditionsCheck">I agree to CareerCircle website <a target="_blank" href="/Home/TermsOfService">terms and conditions.</a></label>
                </div>
            </div>
            <div>
                <div class="form-check sign-up-input">
                    <input type="checkbox" class="form-check-input" id="isAgreeToMarketingEmails" form="SignUpForm" name="IsAgreeToMarketingEmails" asp-for="IsAgreeToMarketingEmails">
                    <label class="form-check-label text-left" for="isAgreeToMarketingEmails">I would like to receive emails about new offers and promotions from CareerCircle.</label>
                </div>
            </div>
            <div id="SignUpAction" class="col-12 no-padding">
                @Html.Partial("Components/Buttons/_Action", new ActionButtonViewModel {
                    Text = Model.SignUpButtonText==null? "Sign Up Now" : Model.SignUpButtonText,
                    SkewDirection = "skew-left-to-right",
                    ChosenColorScheme = "cc-cscheme-darkred",
                    Form = "SignUpForm",
                    ButtonAction = ActionButtonViewModel.Action.SUBMIT
                })
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.ObfuscatedEmail))
            {
                <div class="col-12 no-padding notification">
                    You must use the following email: @Model.ObfuscatedEmail
                </div>
            }
        </div>
        @Html.HiddenFor(x => Model.IsWaitList)
    </form>
    <div class="modal signup-modal text-cc-secondary" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">You're almost done!</h5>
                </div>
                <div class="modal-body">
                    <p>Please check your email and click on the verification link. This action is required before logging in for the first time.</p>
                </div>
                <div class="modal-footer">
                    <a href="/session/signin" class="btn btn-primary">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>

