@model UpDiddy.ViewModels.CourseViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@{
    ViewData["Title"] = L["Course Details"];
}
<h1> @L[@Model.Name]</h1>
<div>
    <ul>
        Course Details for @Model.Name


        <li><a asp-area="" asp-controller="Course" asp-action="Checkout" asp-route-username='@Model.Name'>Buy Now</a></li>
    </ul>
</div>