@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model EnrollmentSuccessViewModel

<div class="checkout-page-container">
    <div class="row checkout-hero">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="enrollment-success-hero">
                            <div class="enrollment-success-header">
                                Congratulations! You've Successfully Enrolled.
                            </div>
                            <div class="enrollment-success-sub-header">
                                Click play on the video below to see more about your new course, or click "Begin Training" to get started!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row enrollment-success-content">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>