@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model CourseViewModel

<div class="checkout-page-container">
    <div class="row enrollment-success-hero-band">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="enrollment-success-hero">
                            <div class="enrollment-success-header">
                                Congratulations! Your enrollment is currently being processed.
                            </div>
                            <div class="enrollment-success-sub-header">
                                Click play on the video below to see more about your new course, or click "Begin Training" to get started!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row enrollment-success-content">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row enrollment-success-video-container">
                            @{ 
                                String firstGridViewsize = "sm";
                                String secondGridViewsize = "md";
                                if (Model.Course.Description.Length > 130)
                                {
                                    firstGridViewsize = "md";
                                    secondGridViewsize = "xl";
                                }
                            }
                            <div class="col-@(firstGridViewsize)-12 col-@(secondGridViewsize)-7 no-padding">
                                <div class="enrollment-success-video">
                                    <video id="EnrollmentSuccessVideo">
                                        <source src="~/images/Career_Circle.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <div class="enrollment-success-video-thumbnail">

                                    </div>
                                    <div class="play-button-container">

                                        <div class="play-button">
                                            <i class="fas fa-play-circle fa-7x"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-@(firstGridViewsize)-12 col-@(secondGridViewsize)-5">
                                <div class="enrollment-success-video-details">
                                    <div class="enrolled-course-name-header">
                                        @Model.Course.Name
                                    </div>
                                    <div class="enrolled-course-description">
                                        @Model.Course.Description
                                    </div>
                                    <div class="enrollment-success-cta">Once your enrollment has been completed, a link to the course will appear in your "My Circle" page.
                                        <!--<a>
        <div class="brand-button contrast-primary">Begin!</div>
    </a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>