@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model CampaignViewModel;

<div id="CampaignContainer">
    <div class="cc-campaign-sign-up-band row" style="background-image: url('/images/hero/wozu-promo.jpeg'); background-position: top">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-8 cc-campaign-sign-up-band-left-container  d-flex align-items-center">
                        <div class="row">
                            <div class="col no-padding">
                                <div class="row">
                                    <div class="col-12 no-padding">
                                        <div class="row container-align-right">
                                            <div class="col-12 hero-header font-bold">
                                                Move at the same pace as Tech
                                            </div>
                                            <div class="col-12 campaign-bullet-list">
                                                <div class="d-flex flex-column bd-highlight mb-3 mt-3">
                                                    <div class="bd-highlight font-bold">Sign up to take your IT career to the next level</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 cc-campaign-sign-up-band-right-container no-padding">
                        <div class="cc-campaign-sign-up-container">
                            <div class="row">
                                <div class="col-12 no-padding sub-header font-bold">
                                    Level Up Today!
                                </div>
                                <div class="col-12 no-padding mini-header">
                                    Create an account to get started
                                </div>
                                <div class="col-12 no-padding">
                                    @Html.Partial("Components/Authentication/_SignUp",
                                        new SignUpViewModel() {
                                           CampaignGuid = Model.CampaignGuid,
                                           CampaignPhase = Model.CampaignPhase,
                                           ContactGuid = Model.ContactGuid,
                                           IsExpressSignUp = false
                                       })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial(ContentBandViewModel.VIEW_FILE, new ContentBandViewModel()
    {
        Header = "Friends of Allegis Group Special Discount Offer",
        Elements = new List<string>()
        {
            @"<div class='row'>
                <div class='col-lg-8 offset-lg-2'>
                    The IT industry is moving fast and it's only getting faster. At CareerCircle, we want to make sure your career is moving at the speed of Tech. We’ve partnered with IT training companies to put together unique course offerings aimed to help you get to the next level.
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-8 offset-lg-2 mt-2 mb-0 d-flex justify-content-center'>
                    <span style=""font-size:20px; font-weight:bold;"">$</span><span style=""font-size:24px; font-weight:bold;"">99 Limited Time Offer<sup>1</sup></span>
                </div>
      
                <div class='col-lg-8 offset-lg-2 mt-0 mb-2 d-flex justify-content-center'>
                    <span style=""font-size:18px; font-weight:bold;"">Promo code: WOZU99</span>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-8 offset-lg-2'>
                    We have a special offer for friends of the Allegis Group family of companies. By joining CareerCircle, you will gain access to self-paced, specialized IT training courses for only $99<sup>1</sup>. That’s a $150 discount! Taking advantage of this limited time offer will present you with the opportunity to gain highly sought-after IT skills that will propel your career forward.
                </div>
            </div>
            "
        }
    })
        @{ List<DisclaimersViewModel.Disclaimer> Disclaimers = new List<DisclaimersViewModel.Disclaimer>()
            {
                new DisclaimersViewModel.Disclaimer("This offer is only valid for IT self-paced courses offered by Woz U priced at $249. This does not apply to instructor-led courses. Courses must be purchased using the promo code above on or before May 5, 2019.")
            };
        }
    
        
        @Html.Partial("Components/Utilities/_Disclaimers", new DisclaimersViewModel
        {
            Disclaimers = Disclaimers,
            ChosenColorScheme = "cc-cscheme-tertiary-light-gray"
        })
</div>

<img src="@Model.TrackingImgSource" />