@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@model SkewBandViewModel
@*
    ***Customization Options***

    You can change the "skew-left-to-right" option to
    "skew-right-to-left" to change the skew direction.
*@

<div class="cc-skew-band @Model.SkewDirection @Model.ChosenColorScheme row">
    <div class="col-12">
        <div class="container no-padding">
            <div class="row">
                <div class="col-12 no-padding d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="cc-skew-band-header font-bold">
                                @Model.Header
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="cc-skew-band-content">
                                @* Place the content of the band here. *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>