@import '../_variables';

// Base Styles
@media (min-width: 0px) {
    #AdminContactsContainer {
        #drop {
            border: 3px dashed $color-secondary;
            border-radius: 1rem;
            padding: 7rem 0;
            text-align: center;
        }

        #ContactUploadPreviewProgress {
            border: 2px solid $color-secondary;
            border-radius: .5rem;
            padding: 1rem 0;

            #ContactUploadTripleContainer {
                

                #UploadProgressWheelContainer {
                    p {
                        margin: 0;
                    }

                    border-left: 2px solid $color-secondary;
                    border-right: 2px solid $color-secondary;
                }
            }
        }

        #ImportValidationSummary {
            li {
                list-style-type: none;
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}
 
// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

// Extra Large Styles
@media (min-width: 1200px) {
}
