@import '../_variables';

// Base Styles
@media (min-width: 0px) {
    #AdminContactsContainer {
        #drop {
            border: 3px dashed $color-secondary;
            border-radius: 1rem;
            padding: 7rem 0;
            text-align: center;
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}
 
// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
}

// Large Styles
@media (min-width: 992px) {
}

// Extra Large Styles
@media (min-width: 1200px) {
}
