
<html>
<head><title>CC - Unlock</title></head>
<body>
    <h3>Enter hangfire unlock token:</h3>
    <form action="/hangfire/submittoken" method="post">
        <input name="unlockToken" />
        <button type="submit">Enter</button>
    </form>
</body>
</html>