@import '../_variables';

// Base Styles
@media (min-width: 0px) {
    body {
        position: relative;
        #loading-img{
            background-position: bottom;
        }
        .overlay{
            top: initial;
        }
    }
    #CommunityCampaignContainer {
        .cc-text-video-band {
            text-align: center;

            .cc-text-video-band-right-column {
                display: none;
            }
        }

        .acct-disclaimer{
            font-size: .75rem;
        }

        #CommunityCampaignHero {
            padding: 4rem 0;
            background-image: url(/images/top_mobile_banner.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            text-align: center;

            .hero-header {
                font-size: 2rem;

            }

            .hero-subheader {
                font-size: 1.75rem;
            }
        }

        #CommunityCampaignBottomContainer {
            padding: 4rem 0;
            background-image: url(/images/bottom_mobile_banner.jpg);
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            background-color: $color-secondary;

            .signup-left-col {
                margin-bottom: 2rem;
                text-align: center;
            }

            .signup-bottom-container-header {
                font-size: 2rem;
                line-height: 2rem;
                font-weight: bold;
            }

            .signup-bottom-container-subheader {
                font-size: 1.5rem;
                line-height: 1.75rem;
                margin-bottom: 1rem;
            }
        }



        #SignUpContainer {
            padding: 1.5rem;
            background-color: $color-white;
            border-radius: 1rem;

            #SignUpContainerHeader {
                border-bottom: 1px solid $color-tertiary-mid-gray;
                font-size: 1.5rem;
                padding-bottom: 1rem;
                margin-bottom: 2rem;
            }

            #SignUpComponentContainer {
                #SignUpComponent {
                    input {
                        border: 1px solid $color-tertiary-gray;
                    }

                    .form-check-input {
                        position: initial;
                    }

                    button {
                        background-color: $color-tertiary;

                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Extra Small Styles
@media (min-width: 320px) {
}

// Small Styles
@media (min-width: 576px) {
}

// Medium Styles
@media (min-width: 768px) {
    #CommunityCampaignContainer {
        .cc-text-video-band {
            text-align: left;

            .cc-text-video-band-right-column {
                display: block;
            }
        }

        #CommunityCampaignBottomContainer {
            background-size: cover;

            .signup-left-col {
                margin-bottom: 0;
                text-align: left;
            }
        }

        #CommunityCampaignHero {
            padding: 11rem 0;
        }
    }
}

// Large Styles
@media (min-width: 992px) {
}

// Extra Large Styles
@media (min-width: 1200px) {
    #CommunityCampaignContainer {
        #CommunityCampaignHero {
            padding: 13rem 0;
            background-image: url('/images/hero_bannerbg_top.jpg');
            background-size: cover;
            background-position: bottom;
            text-align: left;

            .hero-header {
                font-size: 2.5rem;
                font-weight: bold;
            }

            .hero-subheader {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }
        }

        #CommunityCampaignBottomContainer {
            padding: 13rem 0;
            background-image: url('/images/sign_up_banner_bg.jpg');
            background-size: cover;
            background-position: top;

            .signup-left-col {
                margin-bottom: 0;
                text-align: left;
            }

            .signup-bottom-container-header {
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }

            .signup-bottom-container-subheader {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
    }
    
}
