@using Microsoft.AspNetCore.Mvc.Localization
@using UpDiddy.ViewModels
@using UpDiddyLib.Dto
@using System.Collections.Generic;
@using System;
@model IEnumerable<SubscriberDto>

<div class="container-fluid bg-color-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="nav nav-talent text-white">
                    <li class="nav-link active" href="#">Subscribers</li>
                    <li class="nav-link" href="#">Analytics</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container talent">
    <div class="row">
        <div class="col-sm mt-3 mb-3">
            <div class="form-inline">
                <div class="form-group">
                    <label for="GridSearch" class="sr-only">Search</label>
                    <input id="GridSearch" class="form-control" placeholder="Search" />
                </div>
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            @Html.AjaxGrid(Url.Action("SubscriberGrid"))
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
            window.onload = function () {
                var grid = new MvcGrid(document.querySelector('.mvc-grid'));
                document.getElementById('GridSearch').addEventListener('input', function () {
                    doSearch();
                });
            }
            var delayTimer;
            function doSearch() {
                clearTimeout(delayTimer);
                delayTimer = setTimeout(function () {
                    var grid = new MvcGrid(document.querySelector('.mvc-grid'));
                    var search = document.getElementById('GridSearch').value;
                    grid.query.set('searchQuery', search);
                    grid.reload();
                }, 600);
            }
        </script>}
</div>